/* ==========================================================================
    Bouton TOP
========================================================================== */
.scrollTopBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 50px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #ffffff; /* Set a background color */
  color: #C5281B; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 5px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

.scrollTopBtn:hover {
  background-color: #ffffff; /* Add a dark-grey background on hover */
  color: #C5281B; /* Text color */
}