// Transitions
$enable-prefers-reduced-motion-media-query: false;
$enable-reduced-motion: false !default;

// Couleurs Generali
// Primaires de la charte
$white: #ffffff;
$gray-100: #f5f5f5;
$gray-200: #e9ecef;
$gray-300: #ddd;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$black: #000000;
$rouge: #C21B17;
$marron: #752127;
$claret: #8e1230;
$cinnabar: #e9573d;

// Secondaires de la charte
$rawSienna: #d16944;
$appleBlossom: #b15c49;
$cadillac: #b65a65;
$apricot: #f09273;
$shuttleGray: #5a6d7a;
$tradeWind: #61adab;
$calico: #dabf80;
$amulet: #759d77;
$gulfStream: #7fb2b0;
$apple: #6cac45;
$primary: $rouge;
$secondary: #666;
$success: $apple;
$info: $tradeWind;
$warning: $cinnabar;
$danger: $rouge;
$dark-gris: #20252B;
$light-gris: #6f7072;
$light: $gray-100;
$dark: $gray-800;

$theme-colors: (
        "primary": $white,
        "secondary": $secondary,
        "white":$white
);

// Shadow
$box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
$btn-focus-box-shadow: none;

// Body
$body-bg: #dddddd;
$body-color: $black;
$bg-light: $gray-200;

// Fonts
$roboto-slab: 'Roboto Slab', serif;
$roboto: 'Roboto', sans-serif;
$font-family-base: $roboto, "Helvetica Neue", Arial, "Noto Sans";
$font-family-sans-serif: Arial, sans-serif;
$font-family-title: $font-family-base;
$font-size-base: 0.875rem;
$small-font-size: .75em;
$sub-sup-font-size: .75em;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
$font-color: $white;

// Link
$link-decoration: underline;
$link-hover-decoration: none;
@each $color, $value in $theme-colors {
  .link-#{$color} {
    color: $value;
    text-decoration: $link-decoration;
    &:hover,
    &:focus,
    &:active,
    &:visited{
      text-decoration: $link-hover-decoration;
      color: $value;
    }
  }
}

// Headings
$headings-font-family: $font-family-title;
$headings-font-weight: $font-weight-normal;

// Tables
$table-border-color: rgba(0, 0, 0, 0.1);

// Forms and buttons
$input-border-color: rgba(0, 0, 0, .1);
$input-group-addon-color: $font-color;
$input-group-addon-bg: $gray-200;
$input-group-addon-border-color: $input-border-color;
$input-font-size: $font-size-base;
$btn-font-weight: normal;
$custom-control-indicator-size: 1.3rem;
$form-check-input-border-radius: 0 !default;
$form-check-radio-border-radius: 0 !default;
$form-check-input-focus-box-shadow: none !default;
$form-feedback-valid-color: $success !default;
$form-feedback-invalid-color: $danger !default;
$form-feedback-icon-valid-color: $success !default;
$form-feedback-icon-invalid-color: $danger !default;

// Boutons
@each $color, $value in $theme-colors {
  .btn-#{$color} {
    color: $value;
    text-decoration: $link-decoration;
    &:hover,
    &:focus,
    &:active,
    &:visited{
      text-decoration: $link-hover-decoration;
      color: $value;
    }
  }
}

// Tooltips
$tooltip-font-size: $small-font-size;

// Badges
$badge-font-weight: normal;
$badge-padding-y: 0.6em;
$badge-padding-x: 1.2em;

// Alerts
$alert-border-width: 0;

// Cards
$card-border-width: 0;
.accordion {
  > .card {
    overflow: hidden;
    border-radius: 0;

    &:not(:last-of-type) {
      border-top: 1px solid #D8D8D8 !important;
    }

    &:not(:first-of-type) {
      border-top: 1px solid #D8D8D8 !important;
      border-bottom: 1px solid #D8D8D8 !important;
    }

    > .card-header {
      margin-bottom: -$card-border-width;
      background-color: transparent;
    }
  }
}

// Modals
$modal-md: 520px !default;