<form method="post" action="{{ path('liste_forms_delete', {'id': liste_form.id}) }}"
      onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ liste_form.id) }}">
    <button class="btn">Delete</button>
</form>
