{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form) }}
    {{ form_widget(form) }}
<button class="btn btn-outline-primary">
    <span>{{ button_label|default('Save') }}</span></button>
{{ form_end(form) }}
