{% extends 'base.admin.html.twig' %}
{% block title %}{{ Titre }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('show_datatables') }}
{% endblock %}
{% block metaRobots %}
    <meta content="index, follow" name="robots"/>{% endblock %}
{% block body_id 'body_class' %}
{% block content %}

    {{ include('liste_forms/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('liste_forms_index') }}">Retour à la liste</a>
{% endblock %}
