{% extends 'base.admin.html.twig' %}
{% block title %}{{ Titre }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('show_datatables') }}
{% endblock %}
{% block metaRobots %}
    <meta content="index, follow" name="robots"/>{% endblock %}
{% block body_id 'body_class' %}
{% block content %}
    <div class="table-responsive">
        <table id="table" class="table table-striped table-hover m-0">
            <thead>
            <tr>
                <th>Id</th>
                <th>NomFormulaire</th>
                <th>NomProduit</th>
                <th>UniversProduit</th>
                <th>DateCreation</th>
                <th>UrlFormulaire</th>
                <th>UrlAdminFormulaire</th>
                <th>VisuelEntete</th>
                <th>actions</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Id</th>
                <th>NomFormulaire</th>
                <th>NomProduit</th>
                <th>UniversProduit</th>
                <th>DateCreation</th>
                <th>UrlFormulaire</th>
                <th>UrlAdminFormulaire</th>
                <th>VisuelEntete</th>
                <th>actions</th>
            </tr>
            </tfoot>
            <tbody>
            {% for liste_form in liste_forms %}
                <tr>
                    <td>{{ liste_form.id }}</td>
                    <td>{{ liste_form.NomFormulaire }}</td>
                    <td>{{ liste_form.NomProduit }}</td>
                    <td>{{ liste_form.UniversProduit }}</td>
                    <td>{{ liste_form.DateCreation ? liste_form.DateCreation|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ liste_form.urlFormulaire }}</td>
                    <td>{{ liste_form.urlAdminFormulaire }}</td>
                    <td>{{ liste_form.visuelEntete }}</td>
                    <td>
                        <a href="{{ path('liste_forms_edit', {'id': liste_form.id}) }}"
                           class="btn btn-outline-primary"><i class="fa fa-pencil"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="14">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
