{% extends 'base.html.twig' %}

{% block title %}New ListeForms{% endblock %}

{% block body %}
    <h1>Create new ListeForms</h1>

    {{ include('liste_forms/_form.html.twig') }}

    <a href="{{ path('liste_forms_index') }}">back to list</a>
{% endblock %}
