{% extends 'base.html.twig' %}

{% block title %}ListeForms{% endblock %}

{% block body %}
    <h1>ListeForms</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ liste_form.id }}</td>
        </tr>
        <tr>
            <th>NomFormulaire</th>
            <td>{{ liste_form.NomFormulaire }}</td>
        </tr>
        <tr>
            <th>NomProduit</th>
            <td>{{ liste_form.NomProduit }}</td>
        </tr>
        <tr>
            <th>UniversProduit</th>
            <td>{{ liste_form.UniversProduit }}</td>
        </tr>
        <tr>
            <th>DateCreation</th>
            <td>{{ liste_form.DateCreation ? liste_form.DateCreation|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>UrlFormulaire</th>
            <td>{{ liste_form.urlFormulaire }}</td>
        </tr>
        <tr>
            <th>UrlAdminFormulaire</th>
            <td>{{ liste_form.urlAdminFormulaire }}</td>
        </tr>
        <tr>
            <th>VisuelEntete</th>
            <td>{{ liste_form.visuelEntete }}</td>
        </tr>
        <tr>
            <th>LogoProduit</th>
            <td>{{ liste_form.logoProduit }}</td>
        </tr>
        <tr>
            <th>PictoMenu</th>
            <td>{{ liste_form.pictoMenu }}</td>
        </tr>
        <tr>
            <th>Campagne</th>
            <td>{{ liste_form.campagne }}</td>
        </tr>
        <tr>
            <th>TcFormName</th>
            <td>{{ liste_form.tcFormName }}</td>
        </tr>
        <tr>
            <th>TcProductCategory</th>
            <td>{{ liste_form.tcProductCategory }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('liste_forms_index') }}">back to list</a>

    <a href="{{ path('liste_forms_edit', {'id': liste_form.id}) }}">edit</a>

    {{ include('liste_forms/_delete_form.html.twig') }}
{% endblock %}
