{% extends 'base.admin.html.twig' %}
{% block title %}{{ Titre }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('show_datatables') }}
{% endblock %}
{% block metaRobots %}
    <meta content="index, follow" name="robots"/>{% endblock %}
{% block body_id 'body_class' %}
{% block content %}
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <div class="col-md-12">
                <!-- TABLE: LATEST ORDERS -->
                <div class="card">
                    <div class="card-header border-transparent px-4 py-2">
                        <h3 class="card-title">Derniers leads</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body px-4 py-2">
                        <div class="table-responsive">
                            <table id="table" class="table table-bordered table-striped table-hover m-0">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Civilité</th>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>Téléphone</th>
                                    <th>Email</th>
                                    <th>Adresse</th>
                                    <th>CP</th>
                                    <th>Ville</th>
                                    <th>Raison sociale</th>
                                    <th>Date Naissance</th>
                                    <th>Statut</th>
                                    <th>Activité</th>
                                    <th>Age retraite</th>
                                    <th>Capacité Epargne</th>
                                    <th>Optin</th>
                                    <th>IP</th>
                                    <th>Date Leads</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Civilité</th>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>Téléphone</th>
                                    <th>Email</th>
                                    <th>Adresse</th>
                                    <th>CP</th>
                                    <th>Ville</th>
                                    <th>Raison sociale</th>
                                    <th>Date Naissance</th>
                                    <th>Statut</th>
                                    <th>Activité</th>
                                    <th>Age retraite</th>
                                    <th>Capacité Epargne</th>
                                    <th>Optin</th>
                                    <th>IP</th>
                                    <th>Date Leads</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                {% for lead in leads %}
                                    <tr>
                                        <th scope="row">
                                            <a href="#" role="button" data-toggle="modal"
                                               data-target="#exampleModal" data-whatever="@mdo">{{ lead.id }}</a>
                                        </th>
                                        <td>{{ lead.civilite }}</td>
                                        <td>{{ lead.nom }}</td>
                                        <td>{{ lead.prenom }}</td>
                                        <td>{{ lead.telephone }}</td>
                                        <td>{{ lead.email }}</td>
                                        <td>{{ lead.adresse }}</td>
                                        <td>{{ lead.cp }}</td>
                                        <td>{{ lead.ville }}</td>
                                        <td>{{ lead.raisonSociale }}</td>
                                        <td>{{ lead.dateNaissance }}</td>
                                        <td>{{ lead.statut }}</td>
                                        <td>{{ lead.activite }}</td>
                                        <td>{{ lead.souhaitAgeRetraite }}</td>
                                        <td>{{ lead.capaciteEpargne }}</td>
                                        <td>{{ lead.optinGenerali }}</td>
                                        <td>{{ lead.adresseIP }}</td>
                                        <td>{{ lead.date | date("d/m/Y") }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">

                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!--/. container-fluid -->
</section>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('show_datatables') }}
{% endblock %}