{% extends 'base.html.twig' %}
{% block body_id 'homepage' %}
{% block content %}
    <div class="page-header" id="top">
        <h1>{{ 'title.homepage'|trans|raw }}</h1>
    </div>
    <form action="">
        <select name="test" id="test">
            <option>test1</option>
            <option>test2</option>
            <option>test6</option>
        </select>
    </form>
    <div class="row">
        <div class="col-sm-6">
            <div class="jumbotron">
                <p>
                    {{ 'help.browse_app'|trans|raw }}
                </p>
                <p>
                    <a class="btn btn-outline-primary" href="">
                        <i class="fa fa-users" aria-hidden="true"></i> {{ 'action.browse_app'|trans }}
                    </a>
                </p>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="jumbotron">
                <p>
                    {{ 'help.browse_admin'|trans|raw }}
                </p>
                <p>
                    <a class="btn btn-outline-primary page-scroll" href="#top" data-toggle="popover">
                        <i class="fa fa-lock" aria-hidden="true"></i> {{ 'action.browse_admin'|trans }}
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
