{% extends 'base.html.twig' %}
{% block title %}Generali : Mentions légales{% endblock %}
{% block body_class %}mentionsLegales{% endblock %}
{% block cartoucheMobile %}{% endblock %}
{% block cartouche %}{% endblock %}
{% block content %}
    <h2 class="c-section__title c-section__title--line text-uppercase wow fadeInUp animated">Mentions légales du
        site</h2>
    <h4 class="text-blanc">Editeurs du site</h4>
    <p><strong>Generali Vie,</strong>
        Société Anonyme au capital de 336 872 976 euros,
        Entreprise régie par le Code des Assurances - 602 062 481 RCS Paris,
        Siège social : 2 rue Pillet-Will - 75009 Paris<br>
        Société appartenant au Groupe Generali, immatriculé sur le registre italien des groupes d'assurances
        sous le numéro 026.
    </p>
    <p><strong>Generali IARD,</strong>
        Société Anonyme au capital de 94 630 300 euros,
        Entreprise régie par le Code des Assurances - 552 062 663 RCS Paris,
        Siège social : 2 rue Pillet-Will - 75009 Paris.<br>
        Société appartenant au Groupe Generali, immatriculé sur le registre italien des groupes d'assurances
        sous le numéro 026.
    </p>
    <p>L’autorité chargée du contrôle de Generali Vie et Generali IARD est l’Autorité de Contrôle
        Prudentiel
        et de Résolution (ACPR) - 4 place de Budapest CS 92459 751436 Paris Cedex 09.</p>
    <h4 class="text-blanc">Directeur de publication</h4>
    <p>Generali Vie : Jean-Laurent Granier, Président Directeur général de Generali France<br>
        Generali IARD : Jean-Laurent Granier, Président Directeur général de Generali France
    </p>
    <h4 class="text-blanc">Responsable de la rédaction</h4>
    <p>Generali Vie : Rodolphe PACHOT, Directeur marketing et digital<br>
        Generali IARD : Rodolphe PACHOT, Directeur marketing et digital
    </p>
    <h4 class="text-blanc">Hébergeur du site</h4>
    <address class="text-blanc">Jaguar Network<br>
        SAS au capital de 6 400 000 €<br>
        71 av. André Roussin<br>
        BP 50067 - 13321 Marseille Cedex 16 - France<br>
        France<br>
        Tél : +33 (0)4 22 90 99 98
    </address>
    <h4 class="text-blanc">Avertissement</h4>
    <p>Toutes les informations figurant sur le site, y compris celles fournies par l’assistant
        virtuel,
        notamment les informations financières et fiscales, sont purement indicatives et ne revêtent aucun
        caractère contractuel. Elles ne sauraient engager la responsabilité de Generali Vie et de Generali
        IARD.</p>
    <p>Les simulations présentées sur le site, y compris celles fournies par l’assistant virtuel,
        sont
        fournies à titre purement indicatif et ne revêtent aucun caractère contractuel. Elles ne dispensent
        pas de recueillir l'avis et le conseil de votre Conseiller.</p>
    <p>En conséquence, les informations fournies (i) ne prétendent pas à l'exhaustivité et, (ii) ne
        doivent
        pas déterminer à elles seules l'opportunité et le choix de réaliser une opération de gestion ou de
        souscrire un contrat d’assurance.</p>
    <p>Il est fortement recommandé de recueillir l'avis de votre Conseiller qui vous conseillera en
        fonction
        de votre situation personnelle.</p>
    <p>Malgré les efforts mis en œuvre pour mettre à jour régulièrement les informations contenues
        sur le
        site, Generali Vie et Generali IARD, ne sont pas responsables des modifications des dispositions
        juridiques, jurisprudentielles et administratives pouvant survenir postérieurement à la publication
        et à la mise à jour du site. D'une manière générale, Generali Vie et Generali IARD ne pourront être
        tenues responsables en cas de force majeure, habituellement reconnue par la jurisprudence.</p>
    <p>Generali Vie et Generali IARD ne sont pas responsables des éventuelles erreurs ou pannes
        inhérentes
        au système d'information. Particulièrement, Generali Vie et Generali IARD ne pourront pas être tenue
        responsables des délais de transmission, de la fiabilité des transmissions de données, des temps
        d'accès ou éventuellement des restrictions d'accès sur des réseaux et/ou serveurs spécifiques
        connectés au réseau Internet.</p>
    <p>Nous vous rappelons que dans le cadre des contrats d’assurance vie et de capitalisation à
        capital
        variable, l'Adhérent/Souscripteur au contrat supporte intégralement le risque de placement, les
        supports en unités de compte étant sujets à fluctuation à la hausse comme à la baisse. Les
        performances passées des supports en unités de compte ne peuvent en aucun cas préjuger de leurs
        résultats futurs.</p>
    <p>Generali Vie et Generali IARD se réservent le droit à tout moment de modifier le catalogue des
        produits proposés. </p>
    <h4 class="text-blanc">Liens hypertextes et disponibilité du service</h4>
    <h5 class="text-blanc">Liens hypertextes</h5>
    <p>
        L’existence de liens hypertextes vers d’autres sites internet ne constitue ni une recommandation, ni
        une validation de ces sites et de leur contenu par Generali Vie et Generali IARD. Le contenu et le
        fonctionnement de ces sites restent sous la seule et entière responsabilité du site concerné et
        Generali Vie et Generali IARD déclinent toute responsabilité quant au contenu des informations ou
        services fournies sur les sites. Par ailleurs, la création de liens hypertextes vers le site
        generali.fr ne peut être fait qu’avec l’autorisation préalable et expresse de Generali Vie et
        Generali IARD. Generali Vie et Generali IARD déclinent toute responsabilité concernant le contenu
        des sites contenant ce lien hypertexte.
    </p>
    <h5 class="text-blanc">Disponibilité des services</h5>
    <p>Les meilleurs efforts sont fournis pour maintenir l'accès au site. Cependant, l’accès au site
        peut
        être interrompu temporairement ou définitivement, notamment pour des raisons juridiques, techniques
        ou de maintenance. Aucune indemnité ne peut être octroyée par Jaguar Network, Generali Vie et Generali IARD
        au titre d'une indisponibilité du site, qu'elle soit temporaire ou définitive.
    </p>
    <h4 class="text-blanc">Sécurité</h4>
    <p>Les informations accessibles sur le site circulent sous forme cryptée sur les réseaux de
        télécommunication. Il appartient au client d'utiliser tous les moyens de sécurité dont il dispose pour
        préserver la confidentialité des informations échangées. Generali Vie et Generali IARD ne sauraient être
        tenues pour responsables des conséquences de la divulgation, même involontaire, des informations
        échangées ou la non utilisation par le client des moyens de sécurité.</p>
    <h4 class="text-blanc">Territorialité</h4>
    <p>L'accès aux transactions est réservé aux personnes résidant fiscalement en France.</p>
    <p>En cas de changement de résidence fiscale de l'Adhérent/Souscripteur en cours d'adhésion/de
        souscription, l'Internaute devra s'assurer qu'il est juridiquement autorisé à réaliser des
        opérations sur le contrat d'assurance. Generali Vie et Generali IARD ne pourront en aucun cas être
        tenues responsables des conséquences d'une loi étrangère interdisant ces opérations.</p>
    <p>L'Internaute reconnaît et accepte que l'utilisation du site est régie par la loi française et
        relève
        de la compétence des juridictions françaises. En cas de contestation sur l'interprétation du
        contrat, sur l'exécution du contrat et la réalisation des opérations de gestion en ligne, seul le
        juge français est compétent pour connaître du litige.</p>
    <p>Les informations financières relatives aux différents supports en unités de compte sont à
        destination
        exclusive des personnes résidant fiscalement au sein de l'Union Européenne. Elles ne sont en aucun
        cas destinées aux résidents fiscaux d'autres Etats.</p>
    <h4 class="text-blanc">Loi informatique et libertés</h4>
    <p>Conformément à la réglementation en matière de protection des données personnelles, vous
        pouvez exercer ce droit en vous adressant par courrier à Generali - 2 rue Pillet-Will - 75009 Paris – Tel :
        01 58 38 81 00 (appel non surtaxé) ou par email à
        l'adresse <a href="mailto:droitdacces@generali.fr" target="_blank" class="link-primary">
            droitdacces@generali.fr</a>.
        <br>
        En savoir plus sur la protection de vos données personnelles :
        <a href="https://www.generali.fr/donnees-personnelles/" target="_blank" class="link-primary">
            https://www.generali.fr/donnees-personnelles/
        </a>
    </p>
    <h4 class="text-blanc">Droit d'auteur et propriété intellectuelle</h4>
    <p>Le site et son contenu y compris les marques, logos et plus généralement tous les éléments de
        propriété intellectuelle sont la propriété exclusive de leur auteur, et sont le cas échéant déposées
        et /ou protégées à ce titre, notamment par Generali Vie et Generali IARD. Toute utilisation ou
        reproduction par numérisation ou par tout autre moyen, et sur quelque support que ce soit, de tout
        ou partie du contenu du site qu’il soit textuel, graphique ou sonore est interdite. Par ailleurs,
        les informations contenues sur ce site doivent être utilisées à des fins strictement personnelles.
        Toute utilisation, reproduction, copie, diffusion à des fins commerciales est interdite. Le site
        indique en particulier à l’internaute les parties du contenu du site qu’il est autorisé à
        télécharger pour les besoins de sa relation avec les sociétés Generali Vie et Generali IARD. Le
        non-respect de ces règles peut engager la responsabilité civile et pénale du contrevenant.</p>
    <h4 class="text-blanc">Cookies</h4>
    <p>La présente politique est intégrée à la politique de protection des données personnelles du
        Groupe Generali France et s’applique dès lors qu’il y a consultation de nos sites internet et de nos
        applications mobiles car, à cette occasion, différentes technologies peuvent être mises en œuvre pour recueillir
        vos données de navigation, désignées ensemble sous le vocable « cookies ». Ces cookies sont utilisés sur le site
        Offres.generali.fr par Generali Vie et Generali Iard (ci-après désignées « Generali »).</p>
    <h5 class="text-blanc">Données recueillies par l’intermédiaire de cookies</h5>
    <p>Les cookies sont de petits fichiers implantés sur votre terminal. Un cookie ne nous permet pas
        de vous identifier directement, mais il enregistre des informations relatives à la navigation opérée à partir de
        votre terminal que nous pourrons lire lors de vos visites ultérieures afin de faciliter la navigation,
        d'optimiser la connexion et de personnaliser l'utilisation du site.</p>

    <h5 class="text-blanc">Données recueillies par des technologies standard d’Internet</h5>
    <p>Les tags sont des programmes qui s’exécutent dans votre navigateur ou votre application mobile
        et effectuent
        différentes actions, en envoyant par exemple une information à nos serveurs.</p>
    <p>Les tags sont capables de créer des pixels. Les pixels sont des lignes de code qui permettent
        d’afficher une image graphique sur une page Web ou dans un e-mail.
        <br>Le but de cette technologie est d’améliorer votre expérience sur nos sites et applications mobiles.
        <br>Nos sites et applications mobiles peuvent également inclure des scripts, des pixels et des redirections de
        tiers.
    </p>
    <h5 class="text-blanc">Données fournies par les appareils mobiles</h5>
    <p>En fonction des autorisations que vous aurez paramétrées sur votre appareil mobile, ce dernier
        est susceptible de nous adresser des informations, comme le modèle de votre téléphone, la version de son système
        d’exploitation,...
        <br>Ces données peuvent être traitées par nos serveurs et ceux de nos partenaires afin de vous fournir un
        service
        adapté aux caractéristiques techniques de votre appareil et mesurer l’audience de nos applications mobiles.
    </p>
    <h4 class="text-blanc">Quels sont les cookies déposés par Generali ?</h4>
    <h5 class="text-blanc">Cookies de fonctionnement (obligatoire)</h5>
    <ul class="listeBlanche">
        <li>Tag Commander</li>
        <li>Matomo</li>
    </ul>
    <p>Ces cookies garantissent le bon fonctionnement du site de Generali ainsi que de nos
        applications mobiles et permettent son optimisation. Nos sites et nos applications mobiles ne pouvant
        fonctionner correctement sans ces cookies, ils sont exemptés de consentement préalable.</p>

    <h5 class="text-blanc">Cookies de mesure et d’analyse d’audience (analytics)</h5>
    <ul class="listeBlanche">
        <li>Google Analytics</li>
    </ul>
    <p>Ces cookies permettent d’obtenir des statistiques de fréquentation des sites de Generali ainsi
        que de nos applications mobiles afin d’optimiser leur ergonomie, leur navigation et ses contenus.</p>

    <h5 class="text-blanc">Cookies de réseaux sociaux</h5>
    <ul class="listeBlanche">
        <li>Facebook</li>
    </ul>
    <p>Associés aux données de navigation des sites de Generali et de nos applications
        mobiles, les cookies des réseaux sociaux permettent à Generali de créer et diffuser certaines publicités
        personnalisées relatives à ses publications et à ses offres sur les réseaux sociaux.</p>

    <h5 class="text-blanc">Cookies de ciblage publicitaire</h5>
    <ul class="listeBlanche">
        <li>Google Campaign Manager / DoubleClick</li>
        <li>Bing</li>
        <li>AppNexus / Xandr</li>
        <li>Kwanko / NetAffiliation</li>
        <li>Krux / Salesforce Audience Studio (fonction Targeting)</li>
        <li>Outbrain</li>
    </ul>
    <p>Ces cookies permettent à Generali ou à ses partenaires de vous présenter les publicités les
        plus pertinentes et les plus adaptées à vos centres d’intérêt.
    </p>
    <h5 class="text-blanc">Cookies de personnalisation</h5>
    <ul class="listeBlanche">
        <li>Krux / Salesforce Audience Studio (fonctions Targeting, Cross Device et Reidentification)</li>
    </ul>
    <p>Ces cookies permettent à Generali de vous proposer, en fonction de votre navigation sur les
        sites de Generali ainsi que de nos applications mobiles des contenus et/ou des offres de produits et services
        les
        plus pertinents et les plus adaptés à vos centres d’intérêt.</p>

    <h4 class="text-blanc">Comment gérer le dépôt de ces cookies ?</h4>
    <p>Pour certains cookies, à l’exception de ceux strictement nécessaires au bon fonctionnement des
        sites ou des applications mobiles, votre consentement est nécessaire pour pouvoir les déposer sur votre
        terminal.<br>
        Generali met à votre disposition un outil simple qui vous permet de paramétrer le dépôt de cookies selon leur
        catégorie : cookies de mesure et d’analyse d’audience, cookies de personnalisation, etc.<br>
        Les choix que vous ferez grâce à cet outil ne seront valables que dans le cadre de votre navigation sur ce site.
        L’accès à cet outil vous est proposé lors de votre première connexion au site et vous pouvez également à tout
        moment modifier votre choix initial.
    </p>
    <p>Pour accéder à cet outil,
        <a href="#" class="link-primary" onclick="tC.privacyCenter.showPrivacyCenter();return false">cliquer ici</a>.
        Vous pouvez paramétrer les cookies ou bien tous les accepter, ou alors décider de continuer votre navigation
        sans les accepter.
        Si vous décidez de continuer votre navigation sans accepter les cookies, cela n’empêchera pas la poursuite de
        votre navigation. Si vous ne souhaitez plus voir ce type de bannières apparaître et/ou obtenir davantage
        d’informations sur ce procédé, il suffit de vous rendre aux adresses suivantes :</p>
    <ul class="listeBlanche">
        <li>Matomo : <a class="link-primary" href="https://matomo.org/privacy-policy/" target="_blank">https://matomo.org/privacy-policy/</a>
        </li>
        <li>Google :
            <a class="link-primary" href="https://policies.google.com/technologies/cookies?hl=fr" target="_blank">
                https://policies.google.com/technologies/cookies?hl=fr</a>
        </li>
        <li>Bing :
            <a class="link-primary" href="https://privacy.microsoft.com/fr-fr/privacystatement#maincookiessimilartechnologiesmodule" target="_blank">
                https://privacy.microsoft.com/fr-fr/privacystatement#maincookiessimilartechnologiesmodule</a>
        </li>

        <li>Facebook : <a class="link-primary" href="https://fr-fr.facebook.com/policies/cookies/" target="_blank">
                https://fr-fr.facebook.com/policies/cookies/
            </a>
        </li>
        <li>AppNexus / Xandr : <a class="link-primary" href="https://www.xandr.com/privacy/cookie-policy/" target="_blank">
                https://www.xandr.com/privacy/cookie-policy/
            </a>
        </li>
        <li>Kwanko / NetAffiliation : <a class="link-primary" href="https://www.kwanko.com/fr/rgpd/" target="_blank">
                https://www.kwanko.com/fr/rgpd/
            </a>
        </li>
        <li>Outbrain : <a class="link-primary" href="https://www.outbrain.com/legal/privacy#the_site" target="_blank">
                https://www.outbrain.com/legal/privacy#the_site
            </a>
        </li>
    </ul>
    <h4 class="text-blanc">Durée de conservation des cookies ?</h4>
    <p>La durée de conservation de cookies, qui court à compter de leur dépôt, s’effectue dans le
        respect de la législation applicable (6 mois).</p>
{% endblock %}
{% block tagCommander %}
    <script type='text/javascript'>
        <!--//--><![CDATA[//><!--
        var tc_vars = {
            env_work: 'production',
            env_site: 'landing_page_offres',
            marche: '',
            env_template: 'landing_page_offres',
            product_category: '',
            page_name: '',
        };
        //><!]]>
    </script>
{% endblock %}

