{% extends 'base.admin.html.twig' %}
{% block title %}{{ Titre }}{% endblock %}
{% block body_id 'login' %}
{% block body_class 'hold-transition login-page' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}
{% block navbar %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block wrapper %}

    <div class="login-box">
        <div class="login-logo">
            <a href="{{ path('app_login') }}"><b>Administration</b></a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">
                    Un email contenant un lien de réinitialisation vous a été envoyé. Ce lien
                    expirera dans {{ tokenLifetime|date('g') }} heure(s).</p>
                <p class="login-box-msg">
                    Si vous ne recevez pas d'email dans quelques instants, vérifier votre dossier des spams OU <a
                            href="{{ path('app_forgot_password_request') }}">réessayer</a>.
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
{% endblock %}
