{% extends 'base.admin.html.twig' %}
{% block title %}Mot de passe oublié ?{% endblock %}
{% block body_id 'login' %}
{% block body_class 'hold-transition login-page' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}
{% block navbar %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block wrapper %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="login-box">
        <div class="login-logo">
            <a href="{{ path('app_login') }}"><b>Administration</b></a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Entrer votre adresse email pour recevoir le lien de récupération de mot de
                    passe</p>

                {{ form_start(requestForm) }}
                <div class="input-group mb-3">
                    {{ form_widget(requestForm.email, { 'attr': {'class': "form-control",
                        'placeholder': "Votre email"} }) }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fa fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-outline-primary d-block">Réinitialiser mon mot de passe</button>
                    </div>
                    <!-- /.col -->
                </div>
                {{ form_end(requestForm) }}

                <p class="mt-3 mb-1">
                    <a href="{{ path('app_login') }}">Se connecter</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
{% endblock %}