{% extends 'base.admin.html.twig' %}
{% block title %}Réinitialisation du mot de passe{% endblock %}
{% block body_id 'login' %}
{% block body_class 'hold-transition login-page' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}
{% block navbar %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block wrapper %}
    <div class="login-box">
        <div class="login-logo">
            <a href="{{ path('app_login') }}"><b>Admin</b>LTE</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Merci de renseigner votre nouveau mot de passe.</p>

                {{ form_start(resetForm) }}
                {{ form_row(resetForm.plainPassword, { 'attr': {'class': "form-control",
                    'placeholder': "Votre nouveau mot de passe"} }) }}
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-outline-primary d-block">Changer le mot de passe</button>
                    </div>
                    <!-- /.col -->
                </div>
                {{ form_end(resetForm) }}
                <p class="mt-3 mb-1">
                    <a href="{{ path('app_login') }}">Se connecter</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
{% endblock %}