{% extends 'base.html.twig' %}
{% block title %}Generali Chien et chat SPA{% endblock %}
{% block body_class 'formChienChatSPA' %}
{% block visuelHeader %}
    <img src="{{ asset('build/images/produits/visuel-header-chien-chat-spa.jpg') }}" alt="{{ options.nomProduit }}"
         class="img-fluid">
{% endblock %}
{% block formulaire %}
    <div class="row">
        <div class="col-12">
            {{ form_start(form, {
                'attr': {
                    'novalidate': 'novalidate',
                    'class': 'needs-validation',
                    'id': 'formSPA'
                }})
            }}
            <div class="row">
                <div class="col-12 col-sm">
                    <p class="text-right mentions">
                        <span class="couleur-etoile">*</span> Champs obligatoires</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.typeAnimal) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.dateNaissanceAnimal) }}
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-12">
                    {{ form_label(form.civilite, 'Civilité') }}
                    {{ form_widget(form.civilite, {
                        'attr' : {'class' : 'lblCivilite'}
                    }) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.nom) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.prenom) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.telephone) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.email) }}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    {{ form_row(form.adresse) }}
                </div>
            </div>

            <div class="row" id="cpVille">
                <div class="col-md-4">
                    {{ form_row(form.cp) }}
                </div>
                <div class="col-md-8">
                    {{ form_row(form.ville) }}
                </div>
            </div>

            <div class="row">
                <div class="col pt-2">
                    {{ form_row(form.optinGenerali) }}
                </div>
            </div>
            <p class="text-center">
                <button class="btn btn-outline-primary" type="submit" id="btnFormSPA" disabled aria-disabled="true"
                        onclick="return tc_events_5(this,'gaevent',{'category': 'accueil','action': 'click', 'label': 'valider_mon_inscription', 'value': '1'})">
                    <span>Je souhaite être rappelé(e)</span>
                </button>
            </p>
            <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}"/>
            <p class="mentions text-center">
                Vous trouverez les informations sur vos données personnelles<br>en
                <a class="link-primary" role="button" data-toggle="collapse" href="#cnil" aria-expanded="false"
                   aria-controls="collapseExample"
                   onclick="return tc_events_5(this,'gaevent',{'category': 'formulaire','action': 'clic', 'label': 'texte_donnees_perso', 'value': '1'})">
                    <span class="text-gras">suivant ce lien</span>.
                </a>
            </p>
            {{ form_end(form) }}
        </div>
    </div>
    <!-- Modal -->
    {#<div class="modal fade" id="modalCategorieAnimal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    {{ form_label(form.categorieChien, 'Pour un chien, est-il classé en catégorie 1 ou 2 ?', {
                        'label_attr': {'class': 'text-bordeau'}
                    }) }}
                </div>
                <div class="modal-body">
                    {{ form_widget(form.categorieChien) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Valider
                    </button>
                </div>
            </div>
        </div>
    </div>#}
    <!-- Modal -->
    <div class="modal fade" id="modalAgeAnimal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <h5>Les informations renseignées ne nous permettent pas de vous proposer un tarif.</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        J'ai compris
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('formulaire_front') }}
{% endblock %}
