{% extends 'base.html.twig' %}
{% block title %}Generali Assurance Habitation : Mentions légales{% endblock %}
{% block body_class 'formHabitation' %}
{% block boutonParticipation %}{% endblock %}
{% block cartouche %}{% endblock %}
{% block cartoucheMobile %}{% endblock %}
{% block content %}
    <h2 class="c-section__title c-section__title--line text-uppercase wow fadeInUp animated mt-0 pt-3">Mentions
        légales</h2>
    <h4>Editeurs du site</h4>
    <p><strong>Generali Vie,</strong>
        Société Anonyme au capital de 336 872 976 euros,
        Entreprise régie par le Code des Assurances - 602 062 481 RCS Paris,
        Siège social : 2 rue Pillet-Will - 75009 Paris<br>
        Société appartenant au Groupe Generali, immatriculé sur le registre italien des groupes d'assurances
        sous le numéro 026.
    </p>
    <p><strong>Generali IARD,</strong>
        Société Anonyme au capital de 94 630 300 euros,
        Entreprise régie par le Code des Assurances - 552 062 663 RCS Paris,
        Siège social : 2 rue Pillet-Will - 75009 Paris.<br>
        Société appartenant au Groupe Generali, immatriculé sur le registre italien des groupes d'assurances
        sous le numéro 026.
    </p>
    <p>L’autorité chargée du contrôle de Generali Vie et Generali IARD est l’Autorité de Contrôle Prudentiel
        et de Résolution (ACPR) - 4 place de Budapest CS 92459 751436 Paris Cedex 09.</p>
    <h4>Directeur de publication</h4>
    <p>Generali Vie : Jean-Laurent Granier, Président Directeur général de Generali France<br>
        Generali IARD : Jean-Laurent Granier, Président Directeur général de Generali France
    </p>
    <h4>Responsable de la rédaction</h4>
    <p>Generali Vie : François Féquant, Directeur marketing et digital<br>
        Generali IARD : François Féquant, Directeur marketing et digital
    </p>
    <h4>Hébergeur du site</h4>
    <address>Alterway<br>
        Bat D, 1 Rue Royale,<br>
        92210 Saint-Cloud<br>
        Tél : +33 (0)1 41 16 34 95
    </address>
    <h4>Avertissement</h4>
    <p>Toutes les informations figurant sur le site, y compris celles fournies par l’assistant virtuel,
        notamment les informations financières et fiscales, sont purement indicatives et ne revêtent aucun
        caractère contractuel. Elles ne sauraient engager la responsabilité de Generali Vie et de Generali
        IARD.</p>
    <p>Les simulations présentées sur le site, y compris celles fournies par l’assistant virtuel, sont
        fournies à titre purement indicatif et ne revêtent aucun caractère contractuel. Elles ne dispensent
        pas de recueillir l'avis et le conseil de votre Conseiller.</p>
    <p>En conséquence, les informations fournies (i) ne prétendent pas à l'exhaustivité et, (ii) ne doivent
        pas déterminer à elles seules l'opportunité et le choix de réaliser une opération de gestion ou de
        souscrire un contrat d’assurance.</p>
    <p>Il est fortement recommandé de recueillir l'avis de votre Conseiller qui vous conseillera en fonction
        de votre situation personnelle.</p>
    <p>Malgré les efforts mis en œuvre pour mettre à jour régulièrement les informations contenues sur le
        site, Generali Vie et Generali IARD, ne sont pas responsables des modifications des dispositions
        juridiques, jurisprudentielles et administratives pouvant survenir postérieurement à la publication
        et à la mise à jour du site. D'une manière générale, Generali Vie et Generali IARD ne pourront être
        tenues responsables en cas de force majeure, habituellement reconnue par la jurisprudence.</p>
    <p>Generali Vie et Generali IARD ne sont pas responsables des éventuelles erreurs ou pannes inhérentes
        au système d'information. Particulièrement, Generali Vie et Generali IARD ne pourront pas être tenue
        responsables des délais de transmission, de la fiabilité des transmissions de données, des temps
        d'accès ou éventuellement des restrictions d'accès sur des réseaux et/ou serveurs spécifiques
        connectés au réseau Internet.</p>
    <p>Nous vous rappelons que dans le cadre des contrats d’assurance vie et de capitalisation à capital
        variable, l'Adhérent/Souscripteur au contrat supporte intégralement le risque de placement, les
        supports en unités de compte étant sujets à fluctuation à la hausse comme à la baisse. Les
        performances passées des supports en unités de compte ne peuvent en aucun cas préjuger de leurs
        résultats futurs.</p>
    <p>Generali Vie et Generali IARD se réservent le droit à tout moment de modifier le catalogue des
        produits proposés. </p>
    <h4>Liens hypertextes et disponibilité du service</h4>
    <h5>Liens hypertextes</h5>
    <p>
        L’existence de liens hypertextes vers d’autres sites internet ne constitue ni une recommandation, ni
        une validation de ces sites et de leur contenu par Generali Vie et Generali IARD. Le contenu et le
        fonctionnement de ces sites restent sous la seule et entière responsabilité du site concerné et
        Generali Vie et Generali IARD déclinent toute responsabilité quant au contenu des informations ou
        services fournies sur les sites. Par ailleurs, la création de liens hypertextes vers le site
        generali.fr ne peut être fait qu’avec l’autorisation préalable et expresse de Generali Vie et
        Generali IARD. Generali Vie et Generali IARD déclinent toute responsabilité concernant le contenu
        des sites contenant ce lien hypertexte.
    </p>
    <h5>Disponibilité des services</h5>
    <p>Les meilleurs efforts sont fournis pour maintenir l'accès au site. Cependant, l’accès au site peut
        être interrompu temporairement ou définitivement, notamment pour des raisons juridiques, techniques
        ou de maintenance. Aucune indemnité ne peut être octroyée par FullSIX, Generali Vie et Generali IARD
        au titre d'une indisponibilité du site, qu'elle soit temporaire ou définitive.
    </p>
    <h4>Sécurité</h4>
    <p>Les informations accessibles sur le site circulent sous forme cryptée sur les réseaux de
        télécommunication. Il appartient au client d'utiliser tous les moyens de sécurité dont il dispose pour
        préserver la confidentialité des informations échangées. Generali Vie et Generali IARD ne sauraient être
        tenues pour responsables des conséquences de la divulgation, même involontaire, des informations
        échangées ou la non utilisation par le client des moyens de sécurité.</p>
    <h4>Territorialité</h4>
    <p>L'accès aux transactions est réservé aux personnes résidant fiscalement en France.</p>
    <p>En cas de changement de résidence fiscale de l'Adhérent/Souscripteur en cours d'adhésion/de
        souscription, l'Internaute devra s'assurer qu'il est juridiquement autorisé à réaliser des
        opérations sur le contrat d'assurance. Generali Vie et Generali IARD ne pourront en aucun cas être
        tenues responsables des conséquences d'une loi étrangère interdisant ces opérations.</p>
    <p>L'Internaute reconnaît et accepte que l'utilisation du site est régie par la loi française et relève
        de la compétence des juridictions françaises. En cas de contestation sur l'interprétation du
        contrat, sur l'exécution du contrat et la réalisation des opérations de gestion en ligne, seul le
        juge français est compétent pour connaître du litige.</p>
    <p>Les informations financières relatives aux différents supports en unités de compte sont à destination
        exclusive des personnes résidant fiscalement au sein de l'Union Européenne. Elles ne sont en aucun
        cas destinées aux résidents fiscaux d'autres Etats.</p>
    <h4>Loi informatique et liberté</h4>
    <p>Conformément à la loi Informatique et Libertés du 6 janvier 1978, vous disposez d'un droit d'accès et
        de rectification des données qui vous concernent. L’utilisateur accepte expressément que les données
        le concernant leur soient transmises. Vous pouvez exercer ce droit en vous adressant au Groupe
        Generali - 2 rue Pillet-Will - 75009 Paris – Tel : 01 58 38 81 00 (appel non surtaxé) ou par email à
        l'adresse <a href="mailto:droitdacces@generali.fr" target="_blank">droitdacces@generali.fr</a>.
        Ces informations sont destinées au Groupe Generali et sont nécessaires au traitement de votre dossier.
        Ces informations sont susceptibles d'être transmises à des tiers pour les besoins de la gestion de votre
        dossier, notamment à votre conseiller.</p>
    <h4>Droit d'auteur et propriété intellectuelle</h4>
    <p>Le site et son contenu y compris les marques, logos et plus généralement tous les éléments de
        propriété intellectuelle sont la propriété exclusive de leur auteur, et sont le cas échéant déposées
        et /ou protégées à ce titre, notamment par Generali Vie et Generali IARD. Toute utilisation ou
        reproduction par numérisation ou par tout autre moyen, et sur quelque support que ce soit, de tout
        ou partie du contenu du site qu’il soit textuel, graphique ou sonore est interdite. Par ailleurs,
        les informations contenues sur ce site doivent être utilisées à des fins strictement personnelles.
        Toute utilisation, reproduction, copie, diffusion à des fins commerciales est interdite. Le site
        indique en particulier à l’internaute les parties du contenu du site qu’il est autorisé à
        télécharger pour les besoins de sa relation avec les sociétés Generali Vie et Generali IARD. Le
        non-respect de ces règles peut engager la responsabilité civile et pénale du contrevenant.</p>
    <h4>Google Analytics</h4>
    <p>Ce site utilise Google Analytics, un service d'analyse de site internet fourni par Google Inc. (« Google »).
        Google Analytics utilise des cookies, qui sont des fichiers texte placés sur votre ordinateur, pour aider le
        site internet à analyser l'utilisation du site par ses utilisateurs. Les données générées par les cookies
        concernant votre utilisation du site (y compris votre adresse IP) seront transmises et stockées par Google sur
        des serveurs situés aux Etats-Unis. Google utilisera cette information dans le but d'évaluer votre utilisation
        du site, de compiler des rapports sur l'activité du site à destination de son éditeur et de fournir d'autres
        services relatifs à l'activité du site et à l'utilisation d'Internet. Google est susceptible de communiquer ces
        données à des tiers en cas d'obligation légale ou lorsque ces tiers traitent ces données pour le compte de
        Google, y compris notamment l'éditeur de ce site. Google ne recoupera pas votre adresse IP avec toute autre
        donnée détenue par Google. Vous pouvez désactiver l'utilisation de cookies en sélectionnant les paramètres
        appropriés de votre navigateur. Cependant, une telle désactivation pourrait empêcher l'utilisation de certaines
        fonctionnalités de ce site. En utilisant ce site internet, vous consentez expressément au traitement de vos
        données nominatives par Google dans les conditions et pour les finalités décrites ci-dessus. Les transferts de
        données personnelles sont réalisés vers Google Inc., entreprise ayant adhéré au EU-US Privacy Shield et offrant
        une protection adéquate dans le traitement des données personnelles ainsi transférées.</p>
    <h4>Cookies et sessions</h4>
    <p>Les cookies sont de petits fichiers implantés sur votre ordinateur. Un cookie ne nous permet pas de
        vous identifier mais il enregistre des informations relatives à la navigation de votre ordinateur
        sur notre site que nous pourrons lire lors de vos visites ultérieures afin de faciliter la
        navigation, d'optimiser la connexion et de personnaliser l'utilisation du site. Vous pouvez refuser
        l'utilisation des cookies en configurant les paramètres de votre navigateur Internet. Cependant le
        fait de refuser les cookies peut rendre indisponibles toutes ou certaines parties du site. L'accès
        client est construit avec un délai de session, et certaines informations ne seront remises à jour
        qu'après s'être reconnecté sur le site. De plus, nous pouvons être amenés à utiliser vos données de
        navigation par le biais de cookies gérés par un partenaire. Les données utilisées sont strictement
        anonymes et font l’objet d’un traitement purement statistique. Ainsi vous pourrez voir s’afficher
        des bannières personnalisées vous proposant des produits similaires ou complémentaires à ceux déjà
        consultés et disponibles sur les sites du Groupe Generali. Si vous ne souhaitez plus voir ce type de
        bannières apparaître et/ou obtenir davantage d’informations sur ce procédé, il suffit de vous rendre
        aux adresses suivantes :</p>
    <ul class="liste">
        <li>Tag Commander : <a href="https://www.commandersact.com/fr/vie-privee/" target="_blank">https://www.commandersact.com/fr/vie-privee/</a>
        </li>
        <li>Google : <a href="http://www.google.fr/policies/technologies/ads/" target="_blank">http://www.google.fr/policies/technologies/ads/</a>
        </li>
        <li>Twitter : <a href="https://help.twitter.com/fr/rules-and-policies/twitter-cookies#" target="_blank">https://help.twitter.com/fr/rules-and-policies/twitter-cookies#</a>
        </li>
        <li>Facebook : <a href="https://fr-fr.facebook.com/policies/cookies/" target="_blank">https://fr-fr.facebook.com/policies/cookies/</a>
        </li>
        <li>LinkedIn : <a href=">https://www.linkedin.com/legal/cookie-policy?_l=fr_FR" target="_blank">https://www.linkedin.com/legal/cookie-policy?_l=fr_FR</a>
        </li>
    </ul>
    <h4 class="mt-4">Pré-requis techniques</h4>
    <p><strong>Sur P.C.</strong>
    <ul class="liste">
        <li>Navigateur Chrome 17 et versions supérieures</li>
        <li>Navigateur Internet Explorer 8.0 et versions supérieures</li>
        <li>Navigateur Firefox 20 et versions supérieures</li>
        <li>Navigateur Opéra 12 et versions supérieures</li>
    </ul>
    <p><strong>Sur Mac</strong>
    <ul class="liste">
        <li>Navigateur Safari 6</li>
    </ul>
{% endblock %}