{% extends 'base.html.twig' %}

{% block title %}Espace d'administration : Connexion{% endblock %}
{% block cartoucheMobile %}{% endblock %}
{% block cartouche %}{% endblock %}
{% block formulaire %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
{% block accroche %}{% endblock %}
    <form action="{{ path('app_login') }}" method="post">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}"/>

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password"/>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button type="submit">login</button>
    </form>
{% endblock %}
{% block cnil %}{% endblock %}
{% block bottomBar %}{% endblock %}
{% block tagCommander %}{% endblock %}