@import '~@fortawesome/fontawesome-free/css/all.css';
/*!
 * Copyright 2016 Generali France, Inc.
 * Author : Vincent PETIT
 * Project : Quizz Cyber Sécurité
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/* ==========================================================================
   Fonts spécifiques
   ========================================================================== */
@font-face {
    font-family: "Muli-Regular";
    src: url("../fonts/muli/Muli-Regular.ttf"); }
@font-face {
    font-family: "Muli-SemiBold";
    src: url("../fonts/muli/Muli-SemiBold.ttf"); }
/* ==========================================================================
   Styles génériques
   ========================================================================== */
body {
    font-family: "Muli-Regular", Arial, sans-serif;
    background-color: #dddddd;
}
a,
a:hover,
a:focus,
a:active,
a.active {
    color: #c21b17;
    text-decoration: none;
    outline: none;
}

a:focus, a:hover,
.nav-pills .nav-link:not(.active):hover{
    color: #c21b17;
}
a.lien,
a.lien:active,
a.lien.active {
    color: #c21b17;
    text-decoration: underline;
    outline: none;
}

a.lien:focus, a.lien:hover {
    text-decoration: none;
}
/* ==========================================================================
   Styles boutons
   ========================================================================== */
.btn-outline-primary {
    color: #c21b17;
    border-color: #c21b17;
    font-weight: 700;
    transition: all .3s ease;
    border-radius: 0;
}
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-primary.dropdown-toggle,
.show > .btn-outline-primary.dropdown-toggle,
.open .dropdown-toggle.btn-outline-primary {
    color: #ffffff;
    background-color: #c21b17;
    border-color: #c21b17;
    box-shadow: none;
}

.btn-outline-primary:active,
.btn-outline-primary.active,
.open .dropdown-toggle.btn-outline-primary {
    background-image: none;
}

.btn-outline-primary.disabled:active,
.btn-outline-primary[disabled]:active,
fieldset[disabled] .btn-outline-primary:active,
.btn-outline-primary.disabled.active,
.btn-outline-primary[disabled].active,
fieldset[disabled] .btn-outline-primary.active {
    background-color: #c21b17;
    border-color: #c21b17;
    color: #ffffff;
}

.btn-outline-primary.disabled,
.btn-outline-primary[disabled],
fieldset[disabled] .btn-outline-primary,
.btn-outline-primary.disabled:hover,
.btn-outline-primary[disabled]:hover,
fieldset[disabled] .btn-outline-primary:hover,
.btn-outline-primary.disabled:focus,
.btn-outline-primary[disabled]:focus,
fieldset[disabled] .btn-outline-primary:focus {
    background-color: #979797;
    border-color: #979797;
    color: #ffffff;
}
.btn-outline-primary span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s;
}
.btn-outline-primary span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.1s;
}
.btn-outline-primary:hover span {
    padding-right: 25px;
}

.btn-outline-primary:hover span:after {
    opacity: 1;
    right: 0;
}
/* ==========================================================================
   Styles admin
   ========================================================================== */
.card-primary.card-outline{border-top: 3px solid #C21B17}
.card-primary:not(.card-outline) > .card-header {
    background-color: #C21B17;
}
.btn-danger{background-color: #C21B17;border-color: #C21B17}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background-color: #C21B17;
}
/* ==========================================================================
   Styles DataTables
   ========================================================================== */
.table-hover > tbody > tr:hover {
    background-color: #979797;
    color: #333333
}

.table-hover > tbody > tr.disabled,
.table-hover > tbody > tr.disabled td > a,
.table-hover > tbody > tr.disabled:hover {
    background-color: #d6d6d6;
    color: #ffffff
}

.dataTables_filter, .dataTables_length, .dataTables_paginate {
    display: inline-block
}

.dataTables_filter, .dataTables_paginate {
    float: right
}

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
    background-color: #979797;
    color: #fff
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #c21b17 !important;
    color: #fff;
    border-color: #c21b17 !important;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    color: #333
}

.pagination > li > a, .pagination > li > span {
    color: #333
}