@import 'helpers/variables';
@import 'helpers/_btn_top';
@import "~bootstrap";
@import '~@fortawesome/fontawesome-free/css/all.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import '~aos/src/sass/aos';
$slick-font-path: "~slick-carousel/slick/fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "~slick-carousel/slick/" !default;
$slick-arrow-color: black !default;
$slick-dot-size: 0.5rem;
$slick-dot-color: $primary;
$slick-dot-color-active: $primary;
@import '~slick-carousel/slick/slick';
@import '~slick-carousel/slick/slick-theme';
@import '../styles/loaders.scss';
@import '../styles/media-queries.scss';
/*!
 * Copyright 2016 Generali France, Inc.
 * Author : Vincent PETIT
 * Project : Page Offres Plan Marque
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/* ==========================================================================
   Fonts spécifiques
   ========================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');
/* ==========================================================================
   Styles génériques
   ========================================================================== */
body {
    font: $font-size-base $font-family-base !important;
    background: $body-bg;
    color: $font-color;
    min-height: 100vh;
}

header, footer, section {
    background-color:  $white;
}

.bg-content{
    background-color: #C5281B;
}
.c-cartouche--encart p,
.slick p{
    color: $dark-gris;
}
:focus {outline: none; }
textarea {resize: none; }
.text-rouge {color: #C5281B;}
.text-bordeau {color: #8E1230}
.text-vert {color: $success}
.text-bleu {color: #7Fb2b0}
.text-blanc {color: #ffffff;}
.mentions {font-size: 11px;color: #ffffff}
ul li {
    list-style-type: none;
}
ul.listePdf, ul.liste, ul.listeBlanche {
    margin: 0;
    text-indent: -20px;
    color: #FFFFFF;
}
ul.liste li:before, ul.listePdf li:before {
    content: "\25A0";
    color: #C5281B;
    padding-right: 10px;
    vertical-align: text-bottom;
}
ul.listeBlanche li:before {
    content: "\25A0";
    color: #FFFFFF;
    padding-right: 10px;
    vertical-align: text-bottom;
}
#popin_tc_privacy_text a,
#popin_tc_privacy_text a:active,
#popin_tc_privacy_text a.active {
    color: #333333 !important;
}

h1 {
    font-size: 36px;
    color: #333333;
    margin-top: 40px;
}

h2.section-heading {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 15px;
    color: #8E1230;
}

h2.c-section__title{
    word-wrap: break-word;
    font-size: 28px;
    line-height: 1em;
    text-align: center;
    margin-bottom: 15px;
    color: #ffffff;
}
.c-section__title:after{
    content: "";
    width: 17%;
    height: 1px;
    display: block;
    margin: 26px auto 0;
    background-color: #ffffff;
}

h3 {
    font-size: 24px;
    text-transform: none;
    line-height: 134%;
    margin: 0 0 15px;
    text-align: center;
    color: $cinnabar;
}

h4 {
    color: #393939;
    font-weight: bold;
    font-size: 14px;
}

h5 {
    font-size: 14px;
    font-weight: bold;
    color: $dark-gris;
}

.text-indent {
    text-indent: -5px
}

.img-size-logo {
    width: 320px;
}

/* ==========================================================================
   Styles Boutons
   ========================================================================== */
.btn-outline-primary {
    color: #000000;
    border-color: #ffffff;
    background-color: #ffffff;
    font-weight: 700;
    transition: all .3s ease;
    border-radius: 5px;
}
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-primary.dropdown-toggle,
.show > .btn-outline-primary.dropdown-toggle,
.open .dropdown-toggle.btn-outline-primary {
    color: #000000;
    border-color: #ffffff;
    background-color: #ffffff;
    box-shadow: none;
}

.btn-outline-primary:active,
.btn-outline-primary.active,
.open .dropdown-toggle.btn-outline-primary {
    background-image: none;
}

.btn-outline-primary.disabled:active,
.btn-outline-primary[disabled]:active,
fieldset[disabled] .btn-outline-primary:active,
.btn-outline-primary.disabled.active,
.btn-outline-primary[disabled].active,
fieldset[disabled] .btn-outline-primary.active {
    background-color: #C5281B;
    border-color: #C5281B;
    color: #ffffff;
}

.btn-outline-primary.disabled,
.btn-outline-primary[disabled],
fieldset[disabled] .btn-outline-primary,
.btn-outline-primary.disabled:hover,
.btn-outline-primary[disabled]:hover,
fieldset[disabled] .btn-outline-primary:hover,
.btn-outline-primary.disabled:focus,
.btn-outline-primary[disabled]:focus,
fieldset[disabled] .btn-outline-primary:focus {
    background-color: #979797;
    border-color: #979797;
    color: #ffffff;
}
.btn-outline-primary span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s;
}
.btn-outline-primary span:after {
    content: '\02C3';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.1s;
}
.btn-outline-primary:hover span {
    padding-right: 25px;
}

.btn-outline-primary:hover span:after {
    opacity: 1;
    right: 0;
}

/* ==========================================================================
   Styles Header
   ========================================================================== */

.logo {
    max-width: 100%;
    width: 25%;
}

.logo-footer {
    max-width: 100%;
    width: 50%;
}

/* ==========================================================================
    Style de formulaire
========================================================================== */
label, .col-form-label {
    color: #ffffff;
    font-weight: bold;
    padding-top: 0;
}
.couleur-etoile{
    color: #ffffff;
}
.form-control {border: none;}

.form-control:focus {box-shadow: none;}

.form-control[readonly]{
    border: none;
    background-color: #FFFFFF;
}
.lblCheckbox {
    display: inline;
}
.form-error-icon{
    display: none;
}
label.required:before {
    content: "* ";
    color: #ffffff;
    font-size: 0.8rem;
}

.lblCheckbox.required:after {
    content: "*";
    color: #ffffff;
    font-size: 1rem;
}

::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
    color: #eeeeee;
}

.text-danger {
    color: #C5281B;
    font-size: 0.8em;
}

.bottom-bar {
    background-color: #333333;
}

footer {
    padding: 10px 0;
}

.nav-bottom li {
    display: inline-block
}

.nav-bottom > li > a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 0;
    margin-right: 30px;
}

.nav-bottom > li > a:hover,
.nav-bottom > li > a:focus,
.nav-bottom > li > a:active,
.nav-bottom > li > a.active {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}

.social-footer {
    display: inline-block
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: none;
    box-shadow: none;
}
/* ==========================================================================
   Styles de selection
   ========================================================================== */
::-moz-selection {
    text-shadow: none;
    background: #ffffff;
    color: #C5281B;
}

::selection {
    text-shadow: none;
    background: #ffffff;
    color: #C5281B;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}
/* ==========================================================================
   Styles PAge de confirmation
   ========================================================================== */
.card {
    background-color: transparent;
    border: none;
}
.card-body{color: #ffffff}
.c-footer-share-social .social-footer-wrapper {
    border-top: 1px solid #979797;
    text-align: center
}

.c-footer-share-social .social-footer-wrapper p {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 0;
    margin-right: 0
}

.c-footer-share-social .social-footer a {
    display: inline-block;
    margin-right: 10px
}

.c-footer-share-social .social-footer {
    margin-top: 5px;
    margin-bottom: 15px;
    display: inline-block;
    vertical-align: middle
}

ul.share-buttons {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

ul.share-buttons li {
    display: inline-block;
}

ul.share-buttons .sr-only {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

/* ==========================================================================
    Interaction Questionnaire
  ==========================================================================*/
.js-message {
    color: #6F7072;
}

.border-dashed {
    border: 1px dashed #C5281B
}

.border-primary {
    border-color: #d6d6d6 !important;
}

.border-secondary {
    border-color: #6c757d !important;
}

.control-radio.active.border-warning, .border-warning {
    border-color: #C5281B !important;
}
.form-check{padding-left: 0}
.form-check-label, .lbl-toggle {cursor: pointer; display: inline}
.invalid-feedback {
    font-weight: bold;
    color: #ffffff;
}
/* ==========================================================================
            LOADER
  ==========================================================================*/
.loaders {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
}
.ball-clip-rotate-pulse > div:first-child {background: #C5281B;}
.ball-clip-rotate-pulse > div:last-child {background: #C5281B;}
.loaders .loader {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 25%;
    max-width: 25%;
    height: 200px;
    align-items: center;
    justify-content: center;
}
.loader {
    display: table;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 1200;
}
.loader-bg {
    background: #eeeeee;
}
.loader .ball-pulse {
    left: 50%;
    position: absolute;
    top: 50%;
}
.ball-pulse > div{background-color: #C5281B;}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    margin-bottom: 4px;
    display: inline-block;
    font-size: 16px;
}
/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0px; top: 0px;
    width: 18px; height: 18px;
    /*border: 2px solid #cccccc;*/
    background: #ffffff;
    border-radius: 4px;
    /*box-shadow: inset 0 1px 3px rgba(0,0,0,.1);*/
    outline: none;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: 0px; left: 2px;
    font-size: 20px;
    line-height: 1.0;
    color: $primary;
    transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #999999;
    background-color: #dddddd;
}
[type="checkbox"]:disabled:checked + label:after {
    color: #999999;
}
[type="checkbox"]:disabled + label {
    color: #aaaaaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
    border: 2px dotted $white;
}

/* =========================================================================
            CARTOUCHE
  ==========================================================================*/

.picto{
    max-width: 90px;
}


/* =========================================================================
            MEDIA QUERIES
  ==========================================================================*/

@include media-breakpoint-up(lg) {
    .entete {position: relative;}
    .entete .container {
        position: absolute;
        top: 395px;
        left: 0;
    }
    .c-cartouche {
        width: 90%;
        background-color: #FFFFFF;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
        opacity: 1;
        border-top: 2px solid $primary;
    }
    .accroche {
        margin-top: 220px;
    }

    .logo {
        max-width: 100%;
        width: 25%;
    }
}
@include media-breakpoint-up(xl) {
    .entete .container {
        position: absolute;
        top: 470px;
        left: 0;
    }
    .c-cartouche {
        width: 90%;
        background-color: #FFFFFF;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
        opacity: 1;
        border-top: 2px solid $primary;
    }
    .bg-content{
        background-color: $primary;
        padding-right: 65px;
        padding-left: 65px;
    }
}