/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */
/* ==========================================================================
   TRES PETIT ECRAN
   ========================================================================== */
@media screen and (max-width: 767px) {
    .logo {
        max-width: 100%;
        width: 45%;
    }
    .slick img:first-child{
        max-height: 72px;
    }
}
/* ==========================================================================
   ECRAN MOYEN
   ========================================================================== */
@media screen and (min-width: 768px) {
    .accroche {
        margin-top: 30px;
    }

    .accroche:after {
        width: 17%;
    }

    .logo {
        max-width: 100%;
        width: 35%;
    }
}