{% extends 'base.html.twig' %}
{% block body_class 'formEmprunteur' %}
{% block boutonParticipation %}{% endblock %}
{% block cartouche %}{% endblock %}
{% block cartoucheMobile %}{% endblock %}
{% block visuelHeader %}
    <img src="{{ asset('build/images/produits/visuel-header-emprunteur.jpg') }}" alt="{{ options.nomProduit }}"
         class="img-fluid">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12 py-3">
            <div class="card text-center py-3">
                <div class="card-body">
                    <p class="font-weight-bold text-center text-uppercase mt-4">
                        Nous vous remercions pour votre confiance.</p>
                    <p class="font-weight-bold text-center text-uppercase">Un conseiller Generali prendra contact avec
                        vous
                        dans les plus brefs délais.</p>
                    {% if options.logoProduit is not empty %}
                        <img src="{{ asset(options.logoProduit) }}" alt="{{ options.nomProduit }}"
                             class="img-fluid img-size-logo">
                    {% endif %}
                </div>
                <p class="text-center text-blanc">Découvrez notre site <a href="https://www.generali.fr"
                                                                          target="_blank">https://www.generali.fr</a> ou
                    retrouvez nous sur les réseaux sociaux :</p>
                <p class="text-center text-blanc">
                <ul class="share-buttons text-center">
                    <li class="mt-2 mt-sm-0">
                        <a href="https://www.facebook.com/GeneraliFrance/" class="g-tracking-click"
                           title="Nous suivre sur Facebook" data-tracking-type="gaevent"
                           data-tag-label="Facebook"
                           data-tag-category="footer" data-tag-action="click" target="_blank"
                           onclick="javascript: return tc_events_5(this,'gaevent',{'category': 'footer_suivi_rs','action': 'click', 'label': 'facebook_generali_prevention', 'value': '1'})">
                            <img alt="Nous suivre sur Facebook" src="{{ asset('build/images/svg/facebook.svg') }}"/>
                        </a></li>
                    <li class="mt-2 mt-sm-0">
                        <a href="https://twitter.com/generalifrance" class="g-tracking-click"
                           title="Nous suivre sur Twitter" data-tracking-type="gaevent"
                           data-tag-label="Twitter"
                           data-tag-category="footer" data-tag-action="click" target="_blank"
                           onclick="javascript: return tc_events_5(this,'gaevent',{'category': 'footer_suivi_rs','action': 'click', 'label': 'twitter_generalifrance', 'value': '1'})">
                            <img alt="Nous suivre sur Twitter" src="{{ asset('build/images/svg/twitter.svg') }}"/>
                        </a></li>
                    <li class="mt-2 mt-sm-0">
                        <a href="https://www.linkedin.com/company/generali" class="g-tracking-click"
                           title="Nous suivre sur Linkedin" data-tracking-type="gaevent"
                           data-tag-label="Linkedin"
                           data-tag-category="footer" data-tag-action="click" target="_blank"
                           onclick="javascript: return tc_events_5(this,'gaevent',{'category': 'footer_suivi_rs','action': 'click', 'label': 'linkedin_generali', 'value': '1'})">
                            <img alt="Nous suivre sur Linkedin" src="{{ asset('build/images/svg/linkedin.svg') }}"/>
                        </a></li>
                    <li class="mt-2 mt-sm-0">
                        <a href="https://www.youtube.com/user/generalifrance" class="g-tracking-click"
                           title="Nous suivre sur Youtube" data-tracking-type="gaevent"
                           data-tag-label="Youtube"
                           data-tag-category="footer" data-tag-action="click" target="_blank"
                           onclick="javascript: return tc_events_5(this,'gaevent',{'category': 'footer_suivi_rs','action': 'click', 'label': 'youtube_generalifrance', 'value': '1'})">
                            <img alt="Nous suivre sur Youtube"
                                 src="{{ asset('build/images/svg/youtube_social_circle_red.png') }}"
                                 style="max-width: 40px"/>
                        </a></li>
                </ul>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
{% block form_step %}'2'{% endblock form_step %}
{% block page_name %}'{{ options.tcFormNameMerci }}'{% endblock page_name %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('formulaire_front') }}
{% endblock %}

