<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="utf-8">
    <!-- utf-8 works for most cases -->
    <meta content="width=device-width" name="viewport">
    <!-- Forcing initial-scale shouldn't be necessary -->
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <!-- Use the latest (edge) version of IE rendering engine -->
    <meta name="x-apple-disable-message-reformatting">
    <!-- Disable auto-scale in iOS 10 Mail entirely -->
    <meta content="telephone=no,address=no,email=no,date=no,url=no" name="format-detection">
    <!-- Tell iOS not to automatically link certain text strings. -->
    <title></title>
    <!-- The title tag shows in email notifications, like Android 4.4. -->

    <!-- Web Font / @font-face : BEGIN -->
    <!-- NOTE: If web fonts are not required, lines 10 - 27 can be safely removed. -->

    <!-- Desktop Outlook chokes on web font references and defaults to Times New Roman, so we force a safe fallback font. -->
    <!--[if mso]>
    <style>
        * {
            font-family: Helvetica, Arial, 'Helvetica Neue', sans-serif !important;
        }
    </style>
    <![endif]-->

    <!-- All other clients get the webfont reference; some will render the font and others will silently fail to the fallbacks. More on that here: http://stylecampaign.com/blog/2015/02/webfont-support-in-email/ -->
    <!--[if !mso]><!-->
    <!-- insert web font reference, eg: <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'> -->
    <!--<![endif]-->

    <!-- Web Font / @font-face : END -->

    <!-- CSS Reset : BEGIN -->
    <style>
        /* What it does: Remove spaces around the email design added by some email clients. */
        /* Beware: It can remove the padding / margin and add a background color to the compose a reply window. */


        html, body {
            margin: 0 !important;
            padding: 0 !important;
            height: 100% !important;
            width: 100% !important;
        }

        /* What it does: Stops email clients resizing small text. */
        * {
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }

        /* What it does: Centers email on Android 4.4 */
        div[style*="margin: 16px 0"] {
            margin: 0 !important;
        }

        /* What it does: Stops Outlook from adding extra spacing to tables. */
        table, td {
            mso-table-lspace: 0 !important;
            mso-table-rspace: 0 !important;
        }

        /* What it does: Fixes webkit padding issue. */
        table {
            border-spacing: 0 !important;
            border-collapse: collapse !important;
            table-layout: fixed !important;
            margin: 0 auto !important;
        }

        /* What it does: Uses a better rendering method when resizing images in IE. */
        img {
            -ms-interpolation-mode: bicubic;
        }

        /* What it does: Prevents Windows 10 Mail from underlining links despite inline CSS. Styles for underlined links should be inline. */
        a {
            text-decoration: none;
        }

        /* What it does: A work-around for email clients meddling in triggered links. */
        a[x-apple-data-detectors], /* iOS */
        .unstyle-auto-detected-links a, .aBn {
            border-bottom: 0 !important;
            cursor: default !important;
            color: inherit !important;
            text-decoration: none !important;
            font-size: inherit !important;
            font-family: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
        }

        /* What it does: Prevents Gmail from changing the text color in conversation threads. */
        .im {
            color: inherit !important;
        }

        /* What it does: Prevents Gmail from displaying a download button on large, non-linked images. */
        .a6S {
            display: none !important;
            opacity: 0.01 !important;
        }

        /* If the above doesn't work, add a .g-img class to any image in question. */
        img.g-img + div {
            display: none !important;
        }

        /* What it does: Removes right gutter in Gmail iOS app: https://github.com/TedGoas/Cerberus/issues/89  */
        /* Create one of these media queries for each additional viewport size you'd like to fix */

        /* iPhone 4, 4S, 5, 5S, 5C, and 5SE */
        @media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
            u ~ div .email-container {
                min-width: 320px !important;
            }
        }

        /* iPhone 6, 6S, 7, 8, and X */
        @media only screen and (min-device-width: 375px) and (max-device-width: 413px) {
            u ~ div .email-container {
                min-width: 375px !important;
            }
        }

        /* iPhone 6+, 7+, and 8+ */
        @media only screen and (min-device-width: 414px) {
            u ~ div .email-container {
                min-width: 414px !important;
            }
        }
    </style>

    <!-- What it does: Makes background images in 72ppi Outlook render at correct size. -->
    <!--[if gte mso 9]>
    <xml>
        <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->

    <!-- CSS Reset : END -->

    <!-- Progressive Enhancements : BEGIN -->
    <style>
        /* What it does: Hover styles for buttons */


        .button-td, .button-a {
            transition: all 100ms ease-in;
        }

        .button-td-primary:hover, .button-a-primary:hover {
            background: #c21b17 !important;
            border-color: #c21b17 !important;
            color: #ffffff !important;
        }

        /* Media Queries */
        @media screen and (max-width: 480px) {
            /* What it does: Forces table cells into full-width rows. */
            .stack-column, .stack-column-center {
                display: block !important;
                width: 100% !important;
                max-width: 100% !important;
                direction: ltr !important;
            }

            /* And center justify these ones. */
            .stack-column-center {
                text-align: center !important;
            }

            /* What it does: Generic utility class for centering. Useful for images, buttons, and nested tables. */
            .center-on-narrow {
                text-align: center !important;
                display: block !important;
                margin-left: auto !important;
                margin-right: auto !important;
                float: none !important;
            }

            table.center-on-narrow {
                display: inline-block !important;
            }

            /* What it does: Adjust typography on small screens to improve readability */
            .email-container p {
                font-size: 17px !important;
            }
        }
    </style>
    <!-- Progressive Enhancements : END -->

</head>
<!--
	The email background color (#dddddd) is defined in three places:
	1. body tag: for most email clients
	2. center tag: for Gmail and Inbox mobile apps and web versions of Gmail, GSuite, Inbox, Yahoo, AOL, Libero, Comcast, freenet, Mail.ru, Orange.fr
	3. mso conditional: For Windows 10 Mail
-->
<body style="margin: 0; padding: 0 !important; mso-line-height-rule: exactly; background-color: #dddddd;" width="100%">
<center style="width: 100%; background-color: #dddddd;">
    <!--[if mso | IE]>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%"
           style="background-color: #dddddd;">
        <tr>
            <td>
    <![endif]-->

    <!-- Visually Hidden Preheader Text : BEGIN -->
    <div style="display: none; font-size: 1px; line-height: 1px; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden; mso-hide: all; font-family: Helvetica, Arial, 'Helvetica Neue', sans-serif;">
        Votre inscription au jeu concours Mon animal de compagnie
    </div>
    <!-- Visually Hidden Preheader Text : END -->

    <!-- Create white space after the desired preview text so email clients don’t pull other distracting text into the inbox preview. Extend as necessary. -->
    <!-- Preview Text Spacing Hack : BEGIN -->
    <div style="display: none; font-size: 1px; line-height: 1px; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden; mso-hide: all; font-family: Helvetica, Arial, 'Helvetica Neue', sans-serif;">
        Votre inscription au jeu concours Mon animal de compagnie
    </div>
    <!-- Preview Text Spacing Hack : END -->

    <!--
          Set the email width. Defined in two places:
          1. max-width for all clients except Desktop Windows Outlook, allowing the email to squish on narrow but never go wider than 680px.
          2. MSO tags for Desktop Windows Outlook enforce a 680px width.
          Note: The Fluid and Responsive templates have a different width (600px). The hybrid grid is more "fragile", and I've found that 680px is a good width. Change with caution.
      -->
    <div class="email-container" style="max-width: 600px; margin: 0 auto; background-color:#FFF">
        <!--[if mso]>
        <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="600">
            <tr>
                <td>
        <![endif]-->

        <!-- Email Body : BEGIN -->
        <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="margin: auto;" width="100%">
            <!-- Email Header : BEGIN -->
            <tr>
                <td style="padding: 20px 0; text-align: center">
                    <img alt="alt_text" border="0" height="50"
                         src="https://monanimalgenerali.generali.fr/img/logo_horizontal.svg"
                         style="height: auto; background: #ffffff; font-family: Helvetica, Arial, 'Helvetica Neue', sans-serif; font-size: 15px; line-height: 15px; color: #555555;"
                         width="200">
                </td>
            </tr>
            <!-- Email Header : END -->

            <!-- Hero Image, Flush : BEGIN -->
            <tr>
                <td style="background-color: #ffffff;"><img alt="alt_text" border="0" class="g-img" height=""
                                                            src="https://monanimalgenerali.generali.fr/img/visuel-header-email.jpg"
                                                            style="width: 100%; max-width: 600px; height: auto; background: #dddddd; font-family: Helvetica, Arial, 'Helvetica Neue', sans-serif; font-size: 15px; line-height: 15px; color: #555555; margin: auto; display: block;"
                                                            width="600"></td>
            </tr>
            <!-- Hero Image, Flush : END -->

            <!-- 1 Column Text + Button : BEGIN -->
            <tr>
                <td style="background-color: #ffffff;">
                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                        <tr>
                            <td style="padding: 20px; font-family: Helvetica, Arial, 'Helvetica Neue', sans-serif; font-size: 15px; line-height: 20px; color: #555555;">
                                <h1 style="margin: 0 0 10px; font-size: 18px; line-height: 30px; color: #333333; font-weight: normal;"> {{ civilite }} {{ nom }} {{ prenom }}
                                    ,</h1>
                                <p style="margin: 0 0 10px;">Votre inscription au jeu concours <a
                                            href="https://monanimalgenerali.generali.fr/" target="_blank"
                                            style="color:#c21b17">Mon Animal Generali</a> a bien été prise en
                                    compte.</p>
                                <p>Bien cordialement.</p>
                                <p>L’équipe Generali</p></td>
                        </tr>
                        <tr>
                            <td style="padding: 0 20px 20px;"><!-- Button : BEGIN -->

                                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                                       style="margin: auto;">
                                    <tr>
                                        <td class="button-td button-td-primary"
                                            style="border-radius: 4px; background: #FFFFFF;">
                                            <a class="button-a button-a-primary" href="https://www.generali.fr/"
                                               style="background: #FFFFFF; border: 1px solid #c21b17; font-family: Helvetica, Arial, 'Helvetica Neue', sans-serif; font-size: 15px; line-height: 15px; text-decoration: none; padding: 13px 17px; color: #c21b17; display: block; border-radius: 4px;">
                                                Voir le descriptif produit sur Generali.fr</a>
                                        </td>
                                    </tr>
                                </table>

                                <!-- Button : END --></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- 1 Column Text + Button : END -->
            <!-- 1 Column Text : BEGIN -->
            <tr>
                <td style="background-color: #ffffff;">
                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                        <tr>
                            <td style="padding: 20px; font-family: Helvetica, Arial, 'Helvetica Neue', sans-serif; font-size: 15px; line-height: 20px; color: #555555;">
                                <table cellpadding="0" cellspacing="0" border="0">
                                    <tbody>
                                    <tr>
                                        <td style="font-size: 12px; line-height: 18px; font-family: Helvetica, Arial, sans-serif; color: #555555;">
                                            <p><b>SUIVEZ NOUS SUR</b></p></td>
                                    </tr>
                                    <tr>
                                        <td style="padding-left: 10px;"><a
                                                    href="https://www.facebook.com/GeneraliPrevention" target="_blank"
                                                    style="border: none;"> <img
                                                        src="https://monanimalgenerali.generali.fr/img/svg/facebook.svg"
                                                        height="24" width="24" alt="color-facebook-48.png"
                                                        style="border: none; display:block;"></a></td>
                                        <td style="padding-left: 10px;"><a href="https://twitter.com/generalifrance"
                                                                           target="_blank" style="border: none;"> <img
                                                        src="https://monanimalgenerali.generali.fr/img/svg/twitter.svg"
                                                        height="24" width="24" alt="color-instagram-48.png"
                                                        style="border: none; display:block;"> </a></td>
                                        <td style="padding-left: 10px;"><a
                                                    href="https://www.linkedin.com/company/generali" target="_blank"
                                                    style="border: none;"> <img
                                                        src="https://monanimalgenerali.generali.fr/img/svg/linkedin.svg"
                                                        height="24" width="24" alt="color-youtube-48.png"
                                                        style="border: none; display:block;"></a></td>
                                        <td style="padding-left: 10px;"><a
                                                    href="https://www.youtube.com/user/generalifrance" target="_blank"
                                                    style="border: none;"><img
                                                        src="https://monanimalgenerali.generali.fr/img/svg/youtube.svg"
                                                        height="24" width="24" alt="color-youtube-48.png"
                                                        style="border: none; display:block;"> </a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- 1 Column Text : END -->

        </table>
        <!-- Email Body : END -->
        <!--[if mso]>
        </td>
        </tr>
        </table>
        <![endif]-->
    </div>

    <!-- Full Bleed Background Section : BEGIN -->
    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="background-color: #555555;"
           width="100%">
        <tr>
            <td>
                <div align="center" class="email-container" style="max-width: 600px; margin: auto;">
                    <!--[if mso]>
                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="600" align="center">
                        <tr>
                            <td>
                    <![endif]-->
                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                        <tr>
                            <td style="padding: 20px; font-family: sans-serif; font-size: 12px; line-height: 15px; text-align: left; color: #ffffff; background-color: #555555;">
                                <p> Vous pouvez vous opposer au traitement de vos données personnelles sur simple
                                    demande après avoir fourni une preuve de votre identité, à l’adresse électronique :
                                    <a href="mailto:droitdacces@generali.fr"
                                       style="color: #ffffff; text-decoration: underline;">droitdacces@generali.fr</a>
                                    ou à l’adresse postale suivante Generali – Conformité - TSA 70100 75309 Paris Cedex
                                    09 .</p>
                                <p>Dans les conditions prévues par la réglementation, vous disposez notamment du droit
                                    de prendre connaissance des informations vous concernant, de demander à les corriger
                                    par exemple en cas de changement de situation. Vous disposez également du droit de
                                    demander d’effacer ou de limiter l’utilisation de vos données.</p>
                                <p>Ce message est envoyé par un automate, merci de ne pas y répondre directement. Votre
                                    réponse ne pourra être traitée.</p></td>
                        </tr>
                    </table>
                    <!--[if mso]>
                    </td>
                    </tr>
                    </table>
                    <![endif]-->
                </div>
            </td>
        </tr>
    </table>
    <!-- Full Bleed Background Section : END -->

    <!--[if mso | IE]>
    </td>
    </tr>
    </table>
    <![endif]-->
</center>
</body>
</html>