<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
   {# <meta http-equiv="Content-Security-Policy" content="default-src 'self'">#}
    <meta name="description" content="">
    <meta name="author" content="Generali France">
    {% block metaRobots %}
        <meta name="robots" content="noindex, nofollow"/>{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <title>{% block title %}Generali : {{ options.nomProduit }}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <script type="text/javascript" src="https://www.generali.fr/sites/default/files-d8/tag/tc_Generali_1.js"></script>
</head>
<body id="page-top" class="{% block body_class %}{% endblock %}">
<div class="loader loader-bg">
    <div class="ball-pulse">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
{% block cartoucheHeader %}
    <!-- Visuel haut de page -->
    <section class="container">
        <div class="row entete">
            {% block visuelHeader %}
                <img src="{{ asset('build/images/visuel-header.jpg') }}" alt="Entete Accueil"
                     class="img-fluid">
            {% endblock %}
            {#{% block cartoucheMobile %}
                <div class="container-sm d-block d-xl-none mt-3">
                    <div class="row slick">
                        {% for option in options.argumentProduits %}
                            <div class="col-12">
                                <div class="media">
                                     <img class="align-self-center mr-3" src="{{ asset(option.picto)  }}"
                                         alt="{{ option.titre }}">

                                    <div class="media-body">
                                        <h5 class="mt-0">{{ option.titre }}</h5>
                                        <p>{{ option.text }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endblock %}#}
            {% block cartouche %}
                <div class="container">
                    <div class="c-cartouche mx-auto py-2 px-2">
                        <div class="c-cartouche--encart">
                            <div class="row slick">
                                {% for option in options.argumentProduits %}
                                    <div class="col">
                                        <figure>
                                            <img src="{{ asset(option.picto)  }}"
                                                 alt="{{ option.titre }}" class="picto mx-auto">
                                        </figure>
                                        <h4 class="text-uppercase text-center">{{ option.titre }}</h4>
                                        <p class="text-justify">{{ option.text }}</p>
                                        {#<p class="text-justify">
                                            <a href="{{ option.lien }}" target="_blank"
                                               class="lienArgument">{{ option.libelleLien }} <i
                                                        class="fa fa-chevron-right"></i></a>
                                        </p>#}
                                    </div>
                                {% endfor %}
                            </div>
                            {% block boutonCartouche %}{% endblock %}
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </section>
{% endblock %}
<section class="container py-3 bg-content">
    {% block content %}
        {% block accroche %}
            <div class="row accroche">
                <div class="col-12">
                    <h2 class="c-section__title text-uppercase">{{ options.nomProduit }}</h2>
                    <h4 class="text-blanc">Laissez nous vos coordonnées si vous souhaitez en savoir plus.</h4>
                </div>
            </div>
        {% endblock %}
        {% block formulaire %}

        {% endblock %}
        {% block cnil %}
            <div class="row">
                <div class="col">
                    <p class="mentions">Document/information non contractuel à caractère publicitaire. Les garanties
                        peuvent donner lieu à exclusions, limitations et franchises. Pour connaître le détail, l’étendue
                        et les conditions de garanties, reportez-vous aux dispositions générales et particulières du
                        contrat. La souscription d’un contrat ou de certaines garanties demeure soumise à nos règles
                        d’acceptation des risques.</p>
                    <p class="mentions">Conformément à la loi 2014-344 du 7 mars 2014, si vous ne souhaitez pas faire
                        l’objet de
                        prospection
                        commerciale par voie téléphonique, vous pouvez vous inscrire gratuitement sur la liste
                        d’opposition au démarchage téléphonique sur le site internet
                        <a href="http://www.bloctel.gouv.fr/" target="_blank" class="link-primary">www.bloctel.gouv.fr</a>
                        ou par courrier auprès de l’organisme
                        OPPOSETEL, à l’adresse suivante : Société Opposetel - Service Bloctel 6, rue Nicolas Siret - 10
                        000 Troyes.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="collapse pt-2" id="cnil">
                        <p class="font-weight-bold text-blanc">Informations relatives à la collecte de données :</p>
                        <p class="mentions">
                            Les données à caractère personnel recueillies dans le cadre de cette opération font l’objet
                            d’un traitement dont les responsables de traitement sont Generali Vie et Generali IARD.
                            Le traitement des données a pour finalité la réalisation de prospection commerciale, y
                            compris de profilage et toutes mesures précontractuelles.
                            Dans les conditions prévues par la réglementation, vous pouvez prendre connaissance des
                            informations vous concernant et le cas échéant de demander à les corriger, - demander
                            d’effacer ou de limiter l’utilisation de vos données notamment lorsque ces dernières ne sont
                            plus nécessaires, - récupérer dans un format structuré les données que vous nous avez
                            fournies, - <strong>vous opposer à l’utilisation de vos données personnelles notamment
                                concernant la
                                prospection commerciale</strong> – sur simple demande après avoir fourni une preuve de
                            votre identité
                            aux adresses suivantes :
                            <a href="mailto:droitdacces@generali.fr" target="_blank" class="link-primary">
                                droitdacces@generali.fr</a> ou à l’adresse postale suivante
                            Generali-Conformité – TSA 70100 75309 Paris Cedex 09.
                        </p>
                        <p class="mentions">
                            Vous pouvez exercer vos droits sur simple demande en l’accompagnant d’une copie d’un titre
                            d’identité à l’adresse mail <a
                                    href="mailto:droitdacces@generali.fr" target="_blank" class="link-primary">droitdacces@generali.fr</a>
                            ou à l’adresse postale Generali - Conformité
                            - TSA 70100 - 75309 Paris Cedex 09. Par ailleurs, vous pouvez introduire une réclamation
                            auprès
                            de la Commission nationale informatique et liberté (CNIL), 3 place de Fontenoy - TSA 80715 -
                            75334 Paris Cedex 07. Pour toute demande, vous pouvez contacter le délégué à la protection
                            des
                            données à l’adresse postale Generali - Conformité - Délégué à la protection des données
                            personnelles - TSA 70100 - 75309 Paris Cedex 09 ou à l’adresse électronique
                            <a href="mailto:droitdacces@generali.fr" target="_blank" class="link-primary">
                                droitdacces@generali.fr</a>.
                        </p>
                        {% block mentions %}
                            <p class="mentions">
                                <span class="text-gras">Generali Iard</span><br>
                                Société anonyme au capital de 94 630 300 euros - Entreprise régie par le Code des
                                assurances -
                                552 062 663 RCS Paris - Siège social : 2 rue Pillet-Will - 75009 Paris. Société
                                appartenant au
                                Groupe Generali immatriculé sur le registre italien des groupes d’assurances sous le
                                numéro 026.
                            </p>
                        {% endblock %}
                        <p class="mentions">Pour en savoir plus sur vos droits en cas de prospection commerciale,
                            <a href="https://www.generali.fr/donnees-personnelles/prospection-commerciale/"
                               target="_blank" class="link-primary">cliquez
                                ici</a>.</p>
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endblock %}
</section>

{% block bottomBar %}
    <section class="container bottom-bar py-3">
        <div class="row">
            <div class="col-md-7">
                <ul class="nav-bottom mt-2 text-center text-md-left">
                    <li>
                        <a href="{{ path('mentions') }}" target="_blank"
                           onclick="tc_events_5(this, 'gaevent', {'category': 'footer','action': 'click', 'label': 'mentions_legales', 'value': '1'});">mentions
                            légales</a></li>
                </ul>
            </div>
            <div class="col-md-5">
                <ul class="share-buttons text-center text-md-left">
                    <li class="text-uppercase text-blanc d-block d-sm-inline-block">Suivez-nous sur :</li>
                    <li class="mt-2 mt-sm-0">
                        <a href="https://www.facebook.com/GeneraliFrance/" class="g-tracking-click"
                           title="Nous suivre sur Facebook" data-tracking-type="gaevent"
                           data-tag-label="Facebook"
                           data-tag-category="footer" data-tag-action="click" target="_blank"
                           onclick="return tc_events_5(this,'gaevent',{'category': 'footer_suivi_rs','action': 'click', 'label': 'facebook_generali_prevention', 'value': '1'})">
                            <img alt="Nous suivre sur Facebook" src="{{ asset('build/images/svg/facebook.svg') }}"/>
                        </a></li>
                    <li class="mt-2 mt-sm-0">
                        <a href="https://twitter.com/generalifrance" class="g-tracking-click"
                           title="Nous suivre sur Twitter" data-tracking-type="gaevent"
                           data-tag-label="Twitter"
                           data-tag-category="footer" data-tag-action="click" target="_blank"
                           onclick="return tc_events_5(this,'gaevent',{'category': 'footer_suivi_rs','action': 'click', 'label': 'twitter_generalifrance', 'value': '1'})">
                            <img alt="Nous suivre sur Twitter" src="{{ asset('build/images/svg/twitter.svg') }}"/>
                        </a></li>
                    <li class="mt-2 mt-sm-0">
                        <a href="https://www.linkedin.com/company/generali" class="g-tracking-click"
                           title="Nous suivre sur Linkedin" data-tracking-type="gaevent"
                           data-tag-label="Linkedin"
                           data-tag-category="footer" data-tag-action="click" target="_blank"
                           onclick="return tc_events_5(this,'gaevent',{'category': 'footer_suivi_rs','action': 'click', 'label': 'linkedin_generali', 'value': '1'})">
                            <img alt="Nous suivre sur Linkedin" src="{{ asset('build/images/svg/linkedin.svg') }}"/>
                        </a></li>
                    <li class="mt-2 mt-sm-0">
                        <a href="https://www.youtube.com/user/generalifrance" class="g-tracking-click"
                           title="Nous suivre sur Youtube" data-tracking-type="gaevent"
                           data-tag-label="Youtube"
                           data-tag-category="footer" data-tag-action="click" target="_blank"
                           onclick="return tc_events_5(this,'gaevent',{'category': 'footer_suivi_rs','action': 'click', 'label': 'youtube_generalifrance', 'value': '1'})">
                            <img alt="Nous suivre sur Youtube" style="max-width: 40px"
                                 src="{{ asset('build/images/svg/youtube_social_circle_red.svg') }}"/>
                        </a></li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    <footer class="container py-3">
        <div class="row">
            <div class="col-sm-8">

            </div>
            <div class="col-12 col-sm-4">
                <img src="{{ asset('build/images/svg/logo_horizontal.svg') }}" alt="logo generali"
                     class="img-responsive logo-footer d-block mx-auto">
            </div>
        </div>
    </footer>
    <a href="#page-top" class="scrollTopBtn page-scroll wow fadeIn animated"><i class="fa fa-chevron-up"></i></a>
{% endblock %}
{% block modal %}
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
{% block tagCommander %}
    <script type='text/javascript'>
        <!--//--><![CDATA[//><!--
         var tc_vars = {
            env_work: 'pre_production',
            env_site: 'landing_page_offres',
            marche: '{{ options.universProduit }}',
            env_template: 'landing_page_offres',
            product_category: '{{ options.tcProductCategory }}',
            page_name: {% block page_name%}'{{ options.tcFormName }}'{% endblock page_name%},
            form_type: 'landing_page_offres',
            form_name: '{{ options.tcFormName }}',
            form_step: {% block form_step%}'1'{% endblock form_step%}
        };
        //><!]]>
    </script>
{% endblock %}

<script type="text/javascript" src="https://www.generali.fr/sites/default/files-d8/tag/tc_Generali_5.js"></script>
</body>
</html>
