<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="">
    <meta name="author" content="Generali France">
    {% block metaRobots %}
        <meta content="index, follow" name="robots"/>{% endblock %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('admin') }}
    {% endblock %}
</head>
<body id="{% block body_id %}{% endblock %}" class="hold-transition sidebar-mini layout-navbar-fixed {% block body_class %}{% endblock %}">
{% block wrapper %}
    <!-- Site wrapper -->
    <div class="wrapper">
        {% block navbar %}
            <!-- Navbar -->
            <nav class="main-header navbar navbar-expand navbar-white navbar-light">
                <!-- Left navbar links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fa fa-bars"></i></a>
                    </li>
                    <li class="nav-item d-none d-sm-inline-block">
                        <a href="{{ path('admin_dashboard') }}" class="nav-link">Accueil</a>
                    </li>
                </ul>
                <!-- Right navbar links -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#">
                            <i class="fa fa-user"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <span class="dropdown-item dropdown-header">Menu utilisateur</span>
                            <div class="dropdown-divider"></div>
                            <a href="{{path('admin_edit_profil')}}" class="dropdown-item">
                                <i class="fa fa-user-circle-o"></i> Editer mon profil
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="{{ path('app_logout')}}" class="btn btn-outline-primary d-block">
                                Déconnexion
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- /.navbar -->
        {% endblock %}
        {% block sidebar %}
            <!-- Main Sidebar Container -->
            <aside class="main-sidebar sidebar-dark-primary elevation-4">
                <!-- Brand Logo -->
                <a href="{{ path('admin_dashboard') }}" class="brand-link">
                    <img src="{{ asset('build/images/admin/AdminLTELogo.png') }}"
                         alt="AdminLTE Logo"
                         class="brand-image img-circle elevation-3"
                         style="opacity: .8">
                    <span class="brand-text font-weight-light">Administration</span>
                </a>

                <!-- Sidebar -->
                <div class="sidebar">
                    <!-- Sidebar user (optional) -->
                    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <div class="image">
                            <img src="{{ asset('build/images/admin/user2-160x160.jpg') }}" class="img-circle elevation-2"
                                 alt="User Image">
                        </div>
                        <div class="info">
                            <a href="{{ path('admin_edit_profil') }}" class="d-block">{{ app.user.fullName }}</a>
                        </div>
                    </div>

                    <!-- Sidebar Menu -->
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                            data-accordion="false">
                            <!-- Add icons to the links using the .nav-icon class
                                 with font-awesome or any other icon font library -->
                            <li class="nav-item">
                                <a href="{{ path('admin_dashboard') }}" class="nav-link">
                                    <i class="nav-icon fa fa-tachometer"></i>
                                    <p>Tableau de bord</p>
                                </a>
                            </li>
                            <li class="nav-header"><i class="fa fa-angle-double-right"></i> Admin des formulaires</li>
                            {% for dataForm in dataForms %}
                                <li class="nav-item">
                                    <a href="{{ dataForm.urlAdminFormulaire }}" class="nav-link">
                                        <p><i class="fa {{ dataForm.pictoMenu }}"></i>
                                            {{ dataForm.nomFormulaire }}
                                        </p>
                                    </a>
                                </li>
                            {% endfor %}
                            <li class="nav-header"><i class="fa fa-angle-double-right"></i> Admin Générale</li>
                            <li class="nav-item">
                                {#<a href="{{ path('liste_forms_index') }}" class="nav-link">
                                    <i class="nav-icon fa fa-cog"></i>
                                    <p>Paramètres formulaires</p>
                                </a>#}
                            </li>
                            <li class="nav-item">
                                {#<a href="{{ path('argument_produit_index') }}" class="nav-link">
                                    <i class="nav-icon fa fa-file"></i>
                                    <p>Arguments produit</p>
                                </a>#}
                            </li>
                        </ul>
                    </nav>
                    <!-- /.sidebar-menu -->
                </div>
                <!-- /.sidebar -->
            </aside>
        {% endblock %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>{{ Titre }}</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">Accueil</a></li>
                                <li class="breadcrumb-item active">{{ Titre }}</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>
            {% block content %}

            {% endblock %}
        </div>
        <!-- /.content-wrapper -->
        {% block footer %}
            <footer class="main-footer">
                <div class="float-right d-none d-sm-block">
                    <b>Version</b> 3.0.5
                </div>
                <strong>Copyright &copy; 2021 <a href="http://www.generali.fr" target="_blank">Generali</a>.</strong>
            </footer>
        {% endblock %}
    </div>
    <!-- ./wrapper -->
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}
</body>
</html>
