<form method="post" action="{{ path('argument_produit_delete', {'id': argument_produit.id}) }}"
      onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ argument_produit.id) }}">
    <button class="btn">Delete</button>
</form>
