{% extends 'base.admin.html.twig' %}

{% block title %}{{ Titre }}{% endblock %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    {{ include('argument_produit/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
