{% extends 'base.admin.html.twig' %}
{% block title %}{{ Titre }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('show_datatables') }}
{% endblock %}
{% block metaRobots %}
    <meta content="index, follow" name="robots"/>{% endblock %}
{% block body_id 'body_class' %}
{% block content %}
    <div class="table-responsive">
        <table id="table" class="table table-striped table-hover m-0">
            <thead>
            <tr>
                <th>Produit</th>
                <th>Titre</th>
                <th>Texte</th>
                <th>LibelleLien</th>
                <th>Lien</th>
                <th>Pictogramme</th>
                <th></th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Produit</th>
                <th>Titre</th>
                <th>Texte</th>
                <th>LibelleLien</th>
                <th>Lien</th>
                <th>Pictogramme</th>
                <th></th>
            </tr>
            </tfoot>
            <tbody>
            {% for argument_produit in argument_produits %}
                <tr>
                    <td>{{ argument_produit.idFormulaire }}</td>
                    <td>{{ argument_produit.titre }}</td>
                    <td>{{ argument_produit.text }}</td>
                    <td>{{ argument_produit.libelleLien }}</td>
                    <td>{{ argument_produit.lien }}</td>
                    <td>{{ argument_produit.picto }}</td>
                    <td>
                        {# <a href="{{ path('argument_produit_show', {'id': argument_produit.id}) }}"
                    class="btn btn-outline-primary"><i class="fa fa-folder"></i></a> #}
                        <a href="{{ path('argument_produit_edit', {'id': argument_produit.id}) }}"
                           class="btn btn-outline-primary"><i class="fa fa-pencil"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
