{% extends 'base.admin.html.twig' %}

{% block title %}New ArgumentProduit{% endblock %}

{% block content %}
    <h1>Create new ArgumentProduit</h1>

    {{ include('argument_produit/_form.html.twig') }}

    <a href="{{ path('argument_produit_index') }}">back to list</a>
{% endblock %}
