{% extends 'base.admin.html.twig' %}

{% block title %}ArgumentProduit{% endblock %}

{% block content %}
    <h1>ArgumentProduit</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ argument_produit.id }}</td>
        </tr>
        <tr>
            <th>Titre</th>
            <td>{{ argument_produit.titre }}</td>
        </tr>
        <tr>
            <th>Text</th>
            <td>{{ argument_produit.text }}</td>
        </tr>
        <tr>
            <th>LibelleLien</th>
            <td>{{ argument_produit.libelleLien }}</td>
        </tr>
        <tr>
            <th>Lien</th>
            <td>{{ argument_produit.lien }}</td>
        </tr>
        <tr>
            <th>Picto</th>
            <td>{{ argument_produit.picto }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('argument_produit_index') }}">back to list</a>

    <a href="{{ path('argument_produit_edit', {'id': argument_produit.id}) }}">edit</a>

    {{ include('argument_produit/_delete_form.html.twig') }}
{% endblock %}
