{#
This template is used to render errors of type HTTP 403 (Forbidden)

This is the simplest way to customize error pages in Symfony applications.
In case you need it, you can also hook into the internal exception handling
made by Symfony. This allows you to perform advanced tasks and even recover
your application from some errors.
See https://symfony.com/doc/current/controller/error_pages.html
#}

{% extends 'base.html.twig' %}
{% block title %}Une 403{% endblock %}
{% block boutonParticipation %}{% endblock %}
{% block cartouche %}{% endblock %}
{% block cartoucheMobile %}{% endblock %}
{% block visuelHeader %}
    <img src="{{ asset('build/images/visuel-header.jpg') }}" alt="Entete Accueil"
         class="img-fluid">
{% endblock %}

{% block body_class 'error' %}

{% block content %}
    {% block accroche %}
        <div class="row accroche">
            <div class="col-12">
                <h2 class="c-section__title text-uppercase">Erreur 403 - Accès Non autorisée</h2>
                <h4 class="text-blanc">Il semble que vous essayez d'afficher une page avec un accès limité.</h4>
            </div>
        </div>
    {% endblock %}
{% endblock %}
{% block bottomBar %}{% endblock %}
{% block tagCommander %}{% endblock %}