{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body_class 'formRetraite' %}
{% block visuelHeader %}
    <img src="{{ asset('build/images/produits/visuel-header-retraite-pro.jpg') }}" alt="{{ options.nomProduit }}"
         class="img-fluid">
{% endblock %}
{% block formulaire %}
<div class="row">
    <div class="col-12">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'needs-validation'}}) }}
        <div class="row">
            <div class="col-12 col-sm">
                <p class="text-right mentions">
                    <span class="couleur-etoile">*</span> Champs obligatoires</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-2">
                {{ form_label(form.civilite, 'Civilité') }}
                {{ form_widget(form.civilite, {
                    'attr' : {'class' : 'lblCivilite'}
                }) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.nom) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.prenom) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.telephone) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.email) }}
            </div>
        </div>

        <div class="mb-2">
            {{ form_row(form.adresse) }}
        </div>

        <div class="row" id="cpVille">
            <div class="col-md-4">
                {{ form_row(form.cp) }}
            </div>
            <div class="col-md-8">
                {{ form_row(form.ville) }}
            </div>
        </div>

        <div class="mb-2">
            {{ form_row(form.dateNaissance) }}
        </div>

        <div class="row">
            <div class="col-md-6 mb-2">
                {{ form_row(form.statut) }}
            </div>
            <div class="col-md-6 mb-2">
                {{ form_row(form.activite) }}
            </div>
        </div>

        <div class="mb-2">
            {{ form_row(form.raisonSociale) }}
        </div>

        <div class="row">
            <div class="col-md-6 mb-2">
                {{ form_label(form.souhaitAgeRetraite) }}
                <div class="input-group">
                    {{ form_widget(form.souhaitAgeRetraite) }}
                    <div class="input-group-append">
                        <div class="input-group-text">ans</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-2">
                {{ form_label(form.capaciteEpargne) }}
                <div class="input-group">
                    {{ form_widget(form.capaciteEpargne) }}
                    <div class="input-group-append">
                        <div class="input-group-text"><i class="fa fa-euro"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col pt-2">
                {{ form_row(form.optinGenerali) }}
            </div>
        </div>
        <p class="text-center">
            <button class="btn btn-outline-primary" type="submit"
                    onclick="javascript: return tc_events_5(this,'gaevent',{'category': 'accueil','action': 'click', 'label': 'valider_mon_inscription', 'value': '1'})">
                <span>Je souhaite être rappelé(e)</span>
            </button>
        </p>
        <p class="mentions text-center">
            Vous trouverez les informations sur vos données personnelles<br>en
            <a role="button" class="link-primary" data-toggle="collapse" href="#cnil" aria-expanded="false"
               aria-controls="collapseExample"
               onclick="return tc_events_5(this,'gaevent',{'category': 'formulaire','action': 'clic', 'label': 'texte_donnees_perso', 'value': '1'})">
                <span class="text-gras">suivant ce lien</span>.
            </a>
        </p>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
{% block mentions %}
    <p class="mentions">
        <span class="text-gras">Generali Vie</span><br>
        Société Anonyme au capital de 336 872 976 euros. Entreprise régie par le Code des assurances – 602 062 481 R.C.S
        Paris – Siège social : 2, rue Pillet-Will 75009 PARIS, société appartenant au groupe Generali immatriculé sur le
        registre italien des groupes d’assurances sous le numéro 026.
    </p>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('formulaire_front') }}
{% endblock %}