{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body_class 'formAuto' %}
{% block visuelHeader %}
    <img src="{{ asset('build/images/produits/visuel-header-auto.jpg') }}" alt="{{ options.nomProduit }}"
         class="img-fluid">
{% endblock %}
{% block formulaire %}
<div class="row">
    <div class="col-12">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'needs-validation'}}) }}
        <div class="row gx-3 gy-1">
            <div class="col-sm">
                <p class="text-right mentions">
                    <span class="couleur-etoile">*</span> Champs obligatoires</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-2">
                {{ form_label(form.civilite, 'Civilité') }}
                {{ form_widget(form.civilite, {
                    'attr' : {'class' : 'lblCivilite'}
                }) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.nom) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.prenom) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.telephone) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.email) }}
            </div>
        </div>

        <div class="mb-2">
            {{ form_row(form.adresse) }}
        </div>

        <div class="row" id="cpVille">
            <div class="col-md-4">
                {{ form_row(form.cp) }}
            </div>
            <div class="col-md-8">
                {{ form_row(form.ville) }}
            </div>
        </div>

        <div class="mb-4">
            {{ form_label(form.dateMiseEnCirculation) }}
            <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                {{ form_widget(form.dateMiseEnCirculation) }}
                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>

        <div class="mb-4">
            {{ form_label(form.dateobtentionPermis) }}
            <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                {{ form_widget(form.dateobtentionPermis) }}
                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>

        <div class="row" id="cpVille">
            <div class="col-md-4">
                {{ form_row(form.lieuGarage) }}
            </div>
            <div class="col-md-8">
                {{ form_row(form.casUtilisationVehicule) }}
            </div>
        </div>

        <div class="mb-2">
            {{ form_label(form.dateEffetContrat) }}
            <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                {{ form_widget(form.dateEffetContrat) }}
                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col pt-2">
                {{ form_row(form.optinGenerali) }}
            </div>
        </div>
        <p class="text-center">
            <button class="btn btn-outline-primary" type="submit"
                    onclick="return tc_events_5(this,'gaevent',{'category': 'accueil','action': 'click', 'label': 'valider_mon_inscription', 'value': '1'})">
                <span>Je souhaite être rappelé(e)</span>
            </button>
        </p>
        <p class="mentions text-center">
            Vous trouverez les informations sur vos données personnelles<br>en
            <a role="button" class="link-primary" data-toggle="collapse" href="#cnil" aria-expanded="false"
               aria-controls="collapseExample"
               onclick="return tc_events_5(this,'gaevent',{'category': 'formulaire','action': 'clic', 'label': 'texte_donnees_perso', 'value': '1'})">
                <span class="text-gras">suivant ce lien</span>.
            </a>
        </p>
        {{ form_end(form) }}
        {% endblock %}
        {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('formulaire_front') }}
{% endblock %}